[2018-03-13 08:46] mosteo opened #1 "Remove duplication with Project_File / GPR_File"
A Project_File must be also reported as a GPR_File without having to explicitly declare it

[2018-03-13 08:49] mosteo opened #2 "get --only"
Download the requested repo, without dependencies, even if it's not available in the current platform

[2018-03-13 08:50] mosteo opened #3 "test --latest"
As an alternative to --full, test only the most recent release of every project

[2018-03-13 08:50] #2 closed

[2018-03-13 08:50] #3 closed

[2018-03-14 14:38] mosteo opened #4 "Add native gnat as dependency for native Ada packages"
This will make more robust the detection of the native compiler

[2018-03-19 13:11] mosteo commented on #4
Since the compiler in use might not match the platform one, even if available, this is not a proper solution. Actually solved using Compiler_Is_Native as requirement

[2018-03-19 13:11] #4 closed

[2018-03-20 18:18] #1 closed

[2018-03-20 18:19] mosteo commented on #1
Project_File fulfills both functions now, and must receive full relative paths. Project paths are then obtained from these properties.

[2018-03-23 09:52] mosteo opened #5 "AdaYaml 0.3"
https://github.com/yaml/AdaYaml/tags

[2018-03-28 13:59] mosteo opened #6 "Mathpaqs 20180317"

[2018-04-05 12:13] mosteo opened #7 "GnatColl"
To have a fallback in case it's not platform-packaged

[2018-04-05 12:28] mosteo commented on #7
Which in turn depends on many other things.

I guess from GPL 2017 onwards is prepackaged with it, so that's something to keep in mind

[2018-04-25 13:14] mosteo opened #8 "Matreshka"
http://forge.ada-ru.org/matreshka

[2018-04-30 09:10] mosteo opened #30 "Source_Info for Releases"
Explore the possibility of auto identifiying versions as was done for projects

[2018-05-03 09:20] mosteo opened #9 "Support separate child packages for indexed child projects"

[2018-05-03 09:21] #30 closed, assigned to nobody

[2018-05-03 12:27] mosteo opened #10 "Merge depend/with"
Both do related things and there's no overlap right now

[2018-05-04 08:38] mosteo opened #11 "Case-like statement to complement On_Condition"

[2018-05-04 08:58] mosteo opened #12 "Verify that "or" dependencies are fully explored for compatible resolution"

[2018-05-04 10:01] #7 closed

[2018-05-04 10:02] mosteo commented on #12
They are not, since they're flattened to platform dependencies prior to calling Query.

Rethink the Query solver so it takes the full conditional dependencies and can explore the full combination tree.

[2018-05-04 14:07] mosteo opened #13 "Simplify Conditional_Values to only accept single values (no lists are used now anyway)"

[2018-05-04 16:16] #11 closed

[2018-05-05 22:38] mosteo commented on #12
Since the root of the problem was at the Conditional_Values not supporting pure "or", when this is done remember to:
* Remove all referencies to Requisites.Dependencies
* The hook in Alire that was used for that ugly ñapa

[2018-05-06 12:36] mosteo commented on #12
Finally, make the distinction unavail/unresol at the alr level and rid alire of such complications

[2018-05-07 09:42] mosteo opened #14 "Simple Components v4.30+"

[2018-05-07 22:39] #5 closed

[2018-05-09 09:39] mosteo opened #15 "Rename Conditional_Value to Conditional_Tree"

[2018-05-09 18:04] #10 closed

[2018-05-14 09:30] mosteo opened #16 "PDF_Out"
https://apdf.sourceforge.io/

[2018-05-22 11:04] mosteo opened #17 "Smart_Pointers"
http://www.christ-usch-grein.homepage.t-online.de/Ada/Smart_Pointers.html

[2018-05-22 11:27] mosteo opened #18 "SAL"
http://www.stephe-leake.org/ada/sal.html

[2018-05-22 11:28] mosteo opened #19 "PDF_Out"
https://apdf.sourceforge.io/

[2018-05-24 08:03] mosteo opened #20 "Templates_Parser"
https://github.com/AdaCore/templates-parser

[2018-05-30 09:32] mosteo opened #21 "C_Strings"

[2018-05-30 09:32] mosteo opened #22 "DL-Ada"

[2018-05-30 09:32] #21 closed

[2018-05-30 13:27] #22 closed

[2018-05-30 13:27] mosteo opened #23 "Deepend"
https://sourceforge.net/projects/deepend/files/

[2018-06-05 12:47] mosteo opened #24 "Ada barcodes"
https://sourceforge.net/projects/ada-bar-codes/

[2018-06-05 14:57] mosteo opened #25 "ncursesada (from source)"
To get rid of the platform dependency

[2018-06-08 14:20] #25 closed

[2018-06-08 14:21] mosteo commented on #25
Can't bother to lose any more time on that building system

[2018-06-10 10:43] #6 closed

[2018-06-10 11:02] #16 closed

[2018-06-10 17:28] #19 closed

[2018-06-10 17:48] #17 closed

[2018-06-10 17:49] mosteo commented on #24
No release yet

[2018-06-10 17:50] mosteo opened #26 "gnoga"

[2018-06-10 17:56] mosteo opened #27 "Improve/Package Table_IO"

[2018-06-10 20:49] mosteo commented on #18
Too outdated

[2018-06-10 20:49] #18 closed

[2018-06-11 10:58] #20 closed

[2018-06-11 14:16] #27 closed

[2018-06-11 14:45] mosteo commented on #14
Waiting for the version that'll fix the broken Gnat 2018 build

[2018-06-11 21:51] #24 closed

[2018-06-12 16:46] mosteo commented on #26
Not ready for packaging, uses many deps from its own copy

[2018-06-12 16:49] mosteo opened #28 "Forbids"
Packages that precludes others

[2018-06-12 16:51] mosteo commented on #26
Blocked by #26

[2018-06-13 15:42] #26 closed

[2018-06-13 15:43] #14 closed

[2018-06-13 15:43] #8 closed

[2018-06-25 10:52] mosteo opened #29 "index libadalang"

[2018-08-27 15:56] #28 closed

[2018-08-27 15:58] mosteo opened #31 "Gautier's projects"
See related mail https://mail.google.com/mail/u/0/?ik=5cbd15ef77&view=om&permmsgid=msg-f:1608597000621193993&pli=1

[2018-09-03 13:51] mosteo opened #53 "seteuid is not available in msys2"
check current use and/or look for alternatives

[2018-09-28 08:58] mosteo opened #32 "Contributor's agreement"
Automate on first pull request
Also include link to https://developercertificate.org/

[2018-10-16 13:33] mosteo opened #34 "Integrity hash field in archive sources"

[2018-10-17 14:29] pmderodat opened #35 "Handling of unsupported package managers"
As of today, the handling of native packages only works on Debian or Ubuntu distributions. For instance, on my Arch Linux box, I’m getting a lot of crashes such as:
[code]
I don’t think that requiring users to go through all packages in the index to complete package names each time they use a new distributions is a good position. Besides, the current formalism will not apply on package manager-les

[2018-10-17 17:36] mosteo commented on #35
Well, in the particular case of `alr search` that's a plain bug; native packages should simply be unavailable in an unknown platform (in the current implementation), instead of breaking the search. I never have tested out of ubuntu/debian though, and that's why you're seeing that I guess.

TL;DR: yes, something like that would be practical. We should think ahead a bit more.

Long version: I decide

[2018-10-18 09:58] mosteo commented on #35
I'm thinking of use cases for this. I see the obvious one of command-line tools, that can be able to provide their version by running them. Any others?

[2018-10-18 14:00] pmderodat commented on #35
Correct me if I’m wrong, but I don’t think this is what opam does: I just checked on my system, opam happily accepts to build curses even though I don’t have the necessary installs (so the build fails). As I said, I think that’s fine (at least by default). I have the feeling that we need to let users decide which mode they want to use: strict (more checks, less freedom to do things) or lax (fewer

[2018-10-18 18:08] senier commented on #34
I had an offline discussion with @pmderodat about ALIRE and I'm delighted that a source package manager for Ada projects is being worked on! I'm happy to join security-related discussions of the project.

I agree that going for SHA-512 is a good idea. Depending on [who you ask](https://www.keylength.com/en/compare/) shorter hash lengths may become an issue sooner or later. Supporting multiple hash

[2018-10-25 12:44] mosteo opened #39 "Refactor Renaming to Providing"
To maintain consistency with Provides

Internally this is the Release.Alias field

[2018-10-25 12:52] mosteo opened #40 "Refactor Current to Any for project dependencies"
Meaning is clearer, and it actually matches the Semantic_Versioning name

[2019-03-01 17:55] mosteo opened #42 "RFC: selection of syntax to textually describe packages"
For various reasons, it is beneficial to be able to describe projects in text files, besides Ada specifications:
- Remove the need to self-compile for in-progress packages.
- Ability to use repositories not known at compile time.
- General expectations of users of package managers
- ...

A syntax/format must be chosen. Possibilities commented in #41:
- JSON (this is a proof of concept, not intende

[2019-03-01 18:36] mosteo opened #43 "RFC: keeping as option the use of Ada specs to describe packages"
For reason stated in #41, #42, and elsewhere, we need a parseable format for package descriptions. This would replace the current Ada specifications of packages.

I put forward that keeping the ability of accepting packages in Ada syntax may be of interest.

Pros:
- Ada is the native language of prospective contributors.
- Since the parser will need Ada calls to translate package descriptions into

[2019-03-06 11:26] pmderodat commented on #42
Hello! Just to complement my answer to this topic in #41:

* OPAM has its own DSL, so using a YAML parser for it does not sound like an option (even if OPAM specs parse as YAML, there seems to be a lot of post-processing to do)

* Cargo does *not* have its own thing. ;-) It’s a file format called [TOML](https://github.com/toml-lang/toml), and it is independent of Rust. In particular, you can find

[2019-03-06 12:22] Fabien-Chouteau commented on #42
I also think that TOML is the best option here: simple, documented, easy to write and read, does the job.

[2019-03-06 14:47] mosteo commented on #42
I stand corrected about TOML :+1:
This makes me think if we can directly use the cargo manifest format, at least the parts that are not rust-specific and make sense for Ada use cases

[2019-03-07 11:24] mosteo opened #44 "Create a dictionary for common terms used through code/documentation"
It may help to precisely define polysemic words in the Alire context:

package: is Ada sense or what?
project: is GPR sense or what?

What is meant exactly by session/workspace/sandbox?

And so on.

[2019-03-07 14:21] pmderodat commented on #42
Syntax apart, the format I proposed in #41 already looks very similar to Cargo’s manifest format. There are minor differences, for instance the `authors` field is optional in Cargo but mandatory in my proposal. Some other concepts are quite different: since for Rust projects Cargo also acts as the builder, there are information that we currently find in GPR files. Also the dependency system is qui

[2019-03-07 14:25] Fabien-Chouteau commented on #44
Hi @mosteo,

I thought about this a couple of time, in particular we need an Alire name for the packages.
Maybe modules or something more creative like Cargo and its crates.

[2019-03-07 15:56] mosteo commented on #42
Yes, I thing we have a pretty clear idea of next steps so let's do this.

[2019-03-12 16:19] onox commented on #34
Usually the idea of providing a checksum is to protect against compromised mirrors from which packages are downloaded.

Git commits can be signed with GPG (signatures can be shown with `git log --show-signature`). So Alire could verify a repository if it has a list of valid public keys.

[2019-03-12 20:01] senier commented on #34
I should clarify what data i was referring to, maybe we're talking about different things. For a sorce package management I see three types of data that need to be considered:

1. *Package meta data*: defines where software can be downloaded and how its built
2. *Upstream sources*: the actual upstream source code
3. *Binary packages*: the outcome of a build installed on end-user systems

If I unde

[2019-03-15 13:21] mosteo opened #45 "gnatcoll 2018 doesn't compile"
Errors during compilation:

gnatcoll-projects.adb:3429:24: "String_Vectors" is undefined (more references follow)
gnatcoll-projects.adb:3444:10: invalid prefix in selected component "Mains_Str_List"
gnatcoll-projects.adb:4991:23: "Expression" not declared in "Proc"

[2019-03-15 13:56] mosteo commented on #44
I have started to collect the most common terms in https://github.com/alire-project/alire/wiki. You are right, the "alire-packaged things" is the most confusing one right now.

[2019-03-15 14:05] pmderodat commented on #45
Hello @mosteo
With what compiler have you tried this? GNATCOLL 2018 was built an tested only with GNAT Community 2018.

[2019-03-15 18:48] mosteo commented on #45
Ah - you're right, this was with 7.3. I'll add an exclusion then.

[2019-03-15 19:01] #45 closed

[2019-03-25 11:50] mosteo commented on #34
Yup, @senier, your observations pretty much summarize the main points. I don't think that scenario 3 is at all in the radar; for that we have the portability of Ada.

[2019-03-26 13:19] pmderodat commented on #44
Thanks for the glossary, Alejandro!

Now, question for the posterity: should we say that Alire is a “package manager” or a “project manager”? ;-) More seriously, the fact that we still have confusing terms (they are formally defined, but still heavily overloaded) reminds me about @Fabien-Chouteau's suggestions to use dedicated vocabulary with real-world comparisons, such as Cargo/Crates in Rust la

[2019-03-27 15:11] mosteo commented on #44
Well, it's a "LIbrary REpository" ;-) so a "library manager", which is more general than packages (that evokes Ada packages) and gprbuild projects (if we think of a hypothetical future in which another OS Ada compiler exists). Even though some projects are not libraries. Oh well :-)

Yes, if we could think of something truly specific for alr-indexed projects, that would be good. From "À lire" we c

[2019-03-27 16:53] mosteo commented on #9
Not relevant once the new index format is in place, closing.

[2019-03-27 16:53] #9 closed

[2019-04-05 09:44] pmderodat opened #48 "Use SPDX license identifiers in the index"
As suggested in https://github.com/alire-project/alire/pull/41#discussion_r264729939 it would be nice to use a stardardize way to refer to existing licenses. Opening this issue to track investigation/developments on this.

[2019-04-05 09:48] pmderodat commented on #48
Also, this could be the opportunity to design a way to store “unknown” licenses as separate text files in the index.

[2019-04-11 08:18] Fabien-Chouteau commented on #44
Talked about this with @raph-amiard, he said we can actually re-use the word crates from Cargo.

[2019-04-11 16:12] mosteo commented on #44
True that. I wonder if that could complicate things down the road with e.g. internet searches though.

[2019-04-25 08:17] mosteo commented on #44
Throwing a few more into the mix:
- bundle / parcel / lot
- unit / module
- quantum

[2019-04-26 11:50] mosteo commented on #42
Implemented by alire-project/alire#60

[2019-04-26 11:50] #42 closed

[2019-04-26 12:07] mosteo commented on #44
Crate adopted, wiki updated, closing.

[2019-04-26 12:07] #44 closed

[2019-09-16 15:48] mosteo commented on #43
There is no foreseeable interest on this at the moment, closing.

[2019-09-16 15:48] #43 closed

[2019-12-13 16:11] #53 closed, assigned to mosteo

[2020-01-07 12:04] mosteo opened #297 "[RFC] Defining bundled libraries in the index"
It has already arisen a few times (last one: alire-project/alire-index#73) that GNAT CE versions bundle a bunch of libraries with it, which are missing in other versions. This needs some way of making it explicit or we find ourselves with releases that either are compiler-specific or declare dependencies that will be downloaded even when already bundled with the compiler.

In an abstract level, th

[2020-01-07 17:30] mosteo opened #298 "[RFC] Policy on unavailable dependencies"
The issue of the dependency on AWS in alire-project/alire-index#73 prompts me to think about the stand to take on unavailable dependencies. A few thoughts:

We have a somewhat indirect way of indexing something as unavailable (e.g. [aws](https://github.com/alire-project/alire-index/blob/40d66cb7598ed25226fcf0ca8a5b968cf210fd68/index/aw/aws.toml)). A more explicit way could be #295.

Advantages of

[2020-01-09 07:29] mosteo opened #299 "Update README with the compile -> build change"

[2020-01-13 18:01] reznikmm opened #300 "unable to install templates_parser"
I'm unable to install `templates_parser` with `alr` (unless I have VERSION environment variable set). Error is:

[code]

[2020-01-21 13:37] Lucretia opened #306 "Bug box on today's build"
Hi,

I've just tried to build alire using the bootstrap script with a pull from a few mins ago and got this error:

[code]

[2020-01-21 13:54] Lucretia commented on #306
Changing the branch to master works.

[2020-01-21 14:00] Lucretia opened #307 "Req: Add URL of packages in ```alr show```"
e.g. Add the URL of where the source is so we can go and take a look before installing.

[code]

[2020-01-24 17:02] pmderodat opened #310 "Double `alr with` corrupts the session"
It has happened to me several times over the last months, but I’ve found a way to reproduce only now:

[code]
Once you got there, the only way out I found was to manually edit `alire/foo.toml` to remove the problematic entry for `libhello`.

[2020-01-30 10:20] mosteo opened #311 "libgraph-easy-perl detection broken"
It is never detected right now, so we get the plain text dependency list.

It might be fixed by the new externals in #303 by I must double-check

[2020-02-03 17:41] Jellix opened #312 "Website: Show short description after name in crates view"
Looking at https://alire.ada.dev/crates.html, it is sometimes hard, impossible or even misleading to infer from a project name what it might be about, so maybe the short description could be shown next to the name?

So, instead of having just things listed like

* Basalt
* Geste

which leaves the user pretty much guessing what this thing is about, add the short description next to it:

* Basalt -

[2020-02-04 08:23] Fabien-Chouteau commented on #312
Thank you @Jellix, it a good idea!

I implemented it: https://alire.ada.dev/crates.html

[2020-02-04 08:23] #312 closed, assigned to nobody

[2020-02-05 16:56] Fabien-Chouteau opened #313 "Automatically add `with` line in the project file when adding a dependency with `alr with`"
This is a very interesting suggestion that we had a FOSDEM and I think we should do it.

The idea is that currently when the users do `alr with ada_toml`, they will also have to edit their gpr file to add `with "ada_toml.gpr";`. It would be way more user friendly to automate this.

I think we have all the information required because we know the project file of the current/local `Alire` project th

[2020-02-07 21:48] mosteo opened #314 "List of Debian Ada packages for possible indexing as system crates"
As recently reported in the debian-ada mailing list:

adabrowse
adacgi
adacontrol
ahven
anet
asis
dbusada
dh-ada-library
gnat-gps
gprbuild
libalog
libaunit
libaws
libflorist
libgmpada
libgnatcoll
libgnatcoll-bindings
libgnatcoll-db
libgtkada
liblog4ada
libncursesada
libtemplates-parser
libtexttools
libxmlada
libxmlezout
pcscada
plplot

[2020-02-13 17:41] mosteo opened #315 "[RFC] Security of git commit hashes as proof of integrity"
Hi @senier, @Fabien-Chouteau told me that you had discussed again the viability of relying on git commit hashes for integrity validation. Do you have a consensus, or want to bring me up to speed on your latest thoughts?

[2020-02-13 18:38] Fabien-Chouteau commented on #315
@senier I don't know if we actually talked about this. But we had a few conversation within AdaCore.

The main question is the trade-off between security and ease of use. Archives and sha512 are very annoying to do and raise the barrier of entry.

[2020-02-13 20:23] senier commented on #315
@Fabien-Chouteau @mosteo No, we didn't talk about this lately. Can you elaborate on the complications you're referring to? I guess it's about being forced to have an archive and the inability to use a git repo directly?

[2020-02-14 08:31] mosteo opened #316 "Review AdaCore CDN URLs"
From gitter, reported by @reznikmm:

[2020-02-14 08:41] mosteo commented on #315
Sorry @Fabien-Chouteau , I misunderstood you then.

@Fabien-Chouteau , if the problem is with ease of use, further work with `publish` could take care of that. I see that as kind of prioritaire already.

@senier Yup, having to zip, hash, upload... instead of simply copying the URL and hash.

[2020-02-14 11:54] Fabien-Chouteau commented on #315
We can improve but it will take a lot of time and work. If we could allow this in the meantime.

[2020-02-14 12:02] mosteo commented on #315
No objection on my part, and we are still in beta anyway.

[2020-02-15 12:34] rveenker opened #317 "Use Alire in an offline environment"
In the FOSDEM 2020 presentation, Alire was demonstrated offline. I would like to also setup Alire on a standalone offline machine.
I noticed that in alr-defaults.ads, the github URI's are hardcoded. I tried specifying a local file URI but without success. (Keep getting 'Not a readable directory')
Perhaps these URI's could be moved to a TOML configuration file?

[2020-02-15 17:24] stcarrez commented on #317
You can add your local repository by using the **alr index** command.
I've done this to setup my own local repo:
[code]

Then, **alr index --list** should give you the repository list.

[2020-02-15 17:27] stcarrez commented on #313
It would be nice if the with command prints the GNAT projects that the new library provides.

[2020-02-15 17:30] stcarrez commented on #310
I'm facing this issue quite often too.

It would be nice if the project toml file is updated only when the with command succeeds, or, that some automatic rollback is made (there is already a backup file with .prev prefix).

[2020-02-15 17:57] stcarrez opened #318 "Error handling for bad crate definitions"
When writing crate definitions, it is quite common to make mistakes and this breaks the **alr** command. When it happens, you have no clue why it breaks and which crate definition was involved.

Example:
[code]

In my case, it was caused by a missing '@' in a git origin:

[code]

[code]

[2020-02-15 18:36] rveenker commented on #317
Thanks, that worked.
I just had to add a new index.toml file in the new index directory containing 'version = "0.1" '
But now the alr commands are working :-)

[2020-02-15 21:18] #317 closed, assigned to nobody

[2020-02-18 23:00] mosteo opened #323 "Simplify conditional expression internals"
The complex set of generic instances in use over each platform enumeration made sense to make the old Ada index fully type checked at compile time. There is room for significant simplification without affecting functionality or checks that would simplify maintainability.

Low priority for a boring afternoon.

[2020-02-20 08:53] Jellix commented on #315
I've actually used [Online Convert](https://hash.online-convert.com/sha512-generator) which also takes an URL as argument. Comes close. And you can hash after uploading. That, of course, implies you trust your service provider to not change the content of your archive in transit.

[2020-02-29 11:08] riccardo-bernardini opened #328 "Emphasizing --recursive in the README instructions"
This is really small stuff, nevertheless...

This morning I cloned alire and I did not pay attention to the --recursive option ("Oh, yes, I need to clone it... usual stuff..")  in the git clone command.  The result was a sequence of "project not found."

I modified the README adding a warning about the necessity of --recursive.  I also created pull request #327  with the change.

[2020-02-29 20:52] mosteo opened #329 "Spurious "cat: /etc/os-release: No such file or directory" on MacOS"
When running e.g. `alr run --list`

[2020-03-07 18:14] #299 closed, assigned to nobody

[2020-03-17 09:55] mosteo opened #335 "Remove duplication of platform-dependent spec files"
The file `alr-platform.ads` is duplicated for every platform. This obviously violates proper encapsulation. Only the bodies should be platform-specific.

A good moment to rework this would be when migrating platform detection from `alr` to `alire`.

Related: see the comment in `Alire.Main` about this.

[2020-03-20 17:48] #311 closed, assigned to mosteo

[2020-03-28 22:36] valexey opened #337 "Alire crash in Arch linux"
It seems like if alire runs on unsupported linux distro then it crashes.
I trying it on Arch Linux:
[code]
It crashes here:
[code]
Distro = Distro_Unknown
But This.Origin.Distro_Candidates vector has only 2 elements.

PS. I'm trying to build this project: https://github.com/Fabien-Chouteau/ada-voxel-space-demo

[2020-03-29 20:04] valexey commented on #337
It seems that this pull request is able to solve this problem: https://github.com/alire-project/alire/pull/330

[2020-03-30 08:03] Fabien-Chouteau commented on #337
Thanks for the report @valexey, we will merge #330 as soon as possible.

[2020-03-30 09:15] #337 closed, assigned to nobody

[2020-03-30 09:16] mosteo commented on #337
Thanks for the report, it's merged.

[2020-04-01 13:18] setton opened #338 "Automatically install curl?"
Right now, alr fails if curl is not found on the PATH - I guess we could either check for this and exit gracefully, or, better, install it if we can.

[2020-04-02 10:19] mosteo commented on #338
Yup, I guess `alr` should start using itself for system dependencies.

[2020-04-02 10:23] mosteo opened #339 "Change make from external tool to system dependency"
To enable its automatic installation when requried.

See https://github.com/alire-project/alire-index/commit/6eaeef1578faf70b46b51d67eb6e76d1fbb458b9#r38202374

[2020-04-02 15:24] mosteo opened #340 "Update gnatcoll dependency for GNAT CE 2020"
Either use upstream if it doesn't bring complex dependencies/setup, or update our fork.

[2020-04-02 15:26] mosteo commented on #340
Reported in gitter that our fork doesn't build with GNAT CE 2020

[2020-04-02 18:33] Fabien-Chouteau opened #341 "alr build always looks for system packages"
It seems like this is not a necessary step once the system package is installed by either `alr get`, `alr with` or `alr update`.

Looking for system packages can take a lot of time, even if they are already installed. At least it is the case with the current implementation on Windows msys2.

[2020-04-03 09:05] mosteo commented on #341
This is a consequence of not having a lockfile yet (#251). I'd say this is fairly high in the list of priorities.

[2020-04-03 09:08] Fabien-Chouteau commented on #341
On windows with msys2 `alr build` and `alr run` are very slow because of this. When there are system dependencies of course.

[2020-04-03 10:29] Fabien-Chouteau commented on #338
I already install `git`, `tar` and `unzip` automatically on msys2.

We can use the system deployers here it will even prompt the user to accept the installation.
However this must happen before we read the index, or even if there is no index at all.
So we will have to fill package name for each distrib in the source code.

[2020-04-03 14:35] #310 closed, assigned to mosteo

[2020-04-04 17:20] Fabien-Chouteau commented on #338
@setton I worked on a implementation to install the tool when possible or ask the user to do to.
If you want to check it out.

[2020-04-05 23:26] setton commented on #338
I checked the branch `tools_from_distro` and this works perfectly on Ubuntu:

[code]

[2020-04-09 17:47] Fabien-Chouteau opened #345 "System externals to specify extra paths (C_INCLUDE_PATH, LIBRARY_PATH, PATH)"
In the context of using `sldada` with `SDL2` from `msys2` on Windows I got into a problem that is not very easy to describe, it deals with include paths and `sdl2-config`.

At the moment, `sdlada` has three C source files that include headers from `SDL2`. The includes look like this: `#include <SDL.h>`. The path to the include is supposed to be provided by `sdl2-config --cflags` which returns opti

[2020-04-13 09:34] mosteo commented on #345
Two points you can confirm for me, to see if I'm not confusing something:

- Do I understand correctly that `sdl2-config` is not really called with this solution? Could that bite us in the future with some other library that requires a `-config` script? My gut feeling is not a problem, but I'm not sure.
- IIUC, `$MSYS_ROOT` will be replaced by `alr`, which detects where it is installed?

With thes

[2020-04-14 10:42] Fabien-Chouteau commented on #345
`sdl2-config` will still be called by the makefiles of sdlada. This can be a problem in the future, to be honest I don't have enough data points at the moment.

Yes. It could be `$DISTRO_ROOT` or whatever else BTW. For UNIX, distro the root will be `/`. As I said we can also consider that all the paths are relative to the distro root and not have a keyword at all.

You mean in other types of crate

[2020-04-15 09:01] mosteo commented on #345
Thanks for the clarifications.

I mean, instead of directly having a property named `c_include_path`, having an `env-export` or similar that allows setting any env var, a la `gpr-set-externals`. In that case I guess it would make sense that it worked generally, yes.

[2020-04-15 10:27] Fabien-Chouteau commented on #345
ok so something like:
[code]
or
[code]

[2020-04-15 11:17] mosteo commented on #345
Exactly. Since the current loading infrastructure relies in `prop=value` or `prop.case().enum = value` expressions (#186), your second proposal works as is. Though, I like your first example encapsulating everything under a single `environment` property. The resulting combined syntax would be:

[code]

[2020-04-16 16:23] #338 closed, assigned to nobody

[2020-04-16 16:24] Fabien-Chouteau commented on #338
Merged :)

[2020-04-16 16:29] Fabien-Chouteau commented on #313
@mosteo Do you have an idea where I could start to implement this?
How do I get the list of project file dependencies from a crate that is "withed"?

[2020-04-16 18:05] mosteo commented on #313
You need to first solve the new dependency to get the recursive solution. This is done with https://github.com/alire-project/alire/blob/123fd7ca303ddb16ed6d2a6f3a5c0d118b814afa/src/alr/alr-query.ads#L110

Then you can iterate over the releases in the solution to get their project files.

[2020-04-17 11:54] mosteo commented on #329
Not a real issue, problem was in a setup script.

[2020-04-17 11:54] #329 closed, assigned to nobody

[2020-04-17 12:00] mosteo commented on #316
This affects GNATCOLL 2018 and ASIS 2017-18

[2020-04-17 12:08] mosteo commented on #307
This is a special case because zlib is not installed from sources but from system packages, so we don't even have that info in the index. For a regular crate the URL is shown in the origin:
[code]
Although the website property could be filled in as in any other crate. To keep in mind for future packagings.

[2020-04-17 12:08] #307 closed, assigned to nobody

[2020-04-17 12:09] mosteo commented on #306
Since you report it working I'm going to close this issue. Even so, once Ubuntu LTS or Debian stable move to GCC 9 this will be regularly checked by our CI tests.

[2020-04-17 12:09] #306 closed, assigned to nobody

[2020-04-17 14:25] mosteo commented on #297
Hi @Fabien-Chouteau , I've been looking around the installation folders of GNAT CE 2019 and couldn't find anything evident where this information could be automatically obtained. I see the project files in `/share/gpr`, but not even these contain the library version. Do you know if I'm missing something, or this information is simply not available there? Thanks!

[2020-04-17 16:42] Fabien-Chouteau commented on #297
There is no other version number than 2019.

But you should not spend time going in that direction because we plan to make these bundled libraries available in Alire, so it doesn't matter if they are shipped with the compiler or not.

[2020-04-17 16:55] mosteo commented on #297
OK, thanks. Closing then.

[2020-04-17 16:55] #297 closed, assigned to nobody

[2020-04-20 15:32] #339 closed, assigned to mosteo

[2020-04-21 16:54] Fabien-Chouteau commented on #313
Seems like it would be easier to have all the `with` between special comments in the project file and rewrite all of them every time.

[2020-04-24 08:38] #316 closed, assigned to mosteo

[2020-04-26 13:22] reznikmm opened #354 "Should crate set PATH=lib_dir on Windows?"
I've tried to use Matreshka library with `alire` on `msys2` Windows shell. It seems it works fine, but compiled test executable is unable to file matreshka *.DLL's.

So, my question is: Should `matreshka` crate export PATH environment on windows or we could invent something in `alire` to deal with this common Windows specific problem?

[2020-04-26 13:53] mosteo commented on #354
Hi Maxim, thanks for the report. There's a proposal about setting env vars in #345. I guess that would do for this case?

[2020-04-26 16:10] reznikmm commented on #354
It seems #345 talks about environment _during_ crate building, while here we need an environment to be used _after_ the build (if this difference matters). May be to be emitted with `alr setenv`. Also I don't know how to calculate the value of the PATH, in my case it's `<current_dir>/alire/build/alire/cache/dependencies/matreshka_league_18.1.0_4fab6c03/.libs/`.

[2020-04-26 21:39] mosteo commented on #354
Yup, that should be emitted by `alr setenv` and also be used by `alr build`/`alr run`. The paths should be specified as relative to the crate somehow, so in your case you would use (for example) `"$crate_root/.libs".

At present we don't distinguish building and running contexts; neither testing/releasing. I guess that's something that may be necessary eventually.

[2020-04-27 09:54] #328 closed, assigned to nobody

[2020-04-27 18:01] mosteo opened #358 "Save dynamic expressions on TOML export"
Currently there is a loss of information on crate saving, because dynamic expressions are resolved for the current environment.

There is not a clear short-term need for this. If we want to move progressively to full manipulation of crate files through alr commands it might become necessary. This might be helpful for the publishing process perhaps.

[2020-04-27 18:02] mosteo opened #359 "Remove checkout tree if `alr get` fails"
We do not clean up if `alr get` fails to complete.

[2020-04-28 10:51] mosteo opened #360 "Unwanted console output in `alr test`"
There is a Trace.Info message spilling to console in `alr test` (the "Looking for external crate:" one). Check why this is not being captured and redirected to the test log file.

[2020-04-28 10:52] mosteo opened #361 "Nightly crate test builds fail at `git push`"

[2020-04-28 10:58] mosteo opened #362 "Skip releases with undetected externals in `alr test`"
The goal of `alr test` is to identify build failures in releases that should be compiling properly; not the case of ones with undetected externals in the current platform

[2020-04-28 12:01] mosteo opened #364 "Don't fail when `alr get` a detected non-system external"
Just inform that there's nothing to do

[2020-04-28 14:43] Fabien-Chouteau commented on #313
Here are some of the results of my investigations on the subject:

This is a little bit more difficult to implement than I expected. I couldn't find a way to get just the list of project files for the new dependency.

The main problem I see, is the handling of all the possibilities of project files. For instance:
 - Some project are not supposed to be withed, but extended (e.g. GESTE). So an autom

[2020-04-28 16:15] #359 closed, assigned to nobody

[2020-04-28 17:23] mosteo commented on #313
I think I misunderstood you in my previous answer. I don't know why I was thinking of the complete solution when you only want the newly withed crate, or the direct dependencies at most.

I'll prepare a snippet shortly.

Right. Some thoughts about these cases you list:

If we do nothing, at least I'd add a warning to `alr with` like "Remember to modify your project file or consult the crate docume

[2020-04-28 18:39] mosteo commented on #313
Here is an example of retrieving the project files in a new dependency (lines 67-83):
https://github.com/mosteo/alire/blob/aa6155c76f6e56269c84460c69a68936fcb481d4/src/alr/alr-commands-withing.adb#L67

[2020-04-29 21:46] stcarrez opened #366 "Report the expected alr index version when an older local index is found"
After upgrading to a new *alr* version, I'm getting the following error:

[code]

Of course some repository format changed and the suggested command will never
work for your own local repository. At least it would be nice to print the expected version number.

[2020-04-30 09:35] mosteo commented on #366
I understand, thanks for the report.

[2020-04-30 15:29] mosteo opened #367 "Persistent configuration"
There is an increasing need to keep some information stored on disk:

- Msys2 choice
- Withing choices
- User identity for publishing
- ...

TODO list:
- [x] Global config
- [x] Local (per workspace) config
- [ ] Overriding via switch; defaults via env vars?

[2020-04-30 15:35] mosteo opened #368 "Alire book"
To better organize our documentation we may want something similar to the Cargo book, that can be imported into the website and referenced from `alr`

- [ ] Prepare index
- [ ] Check jekyll facilities

Notes: stored in the same `alr` repo so documentation matches alr releases.

[2020-04-30 18:53] stcarrez opened #369 "alr list vs alr search --list"
There are two ways to list the available packages:

[code]
and
[code]
Both commands have different outputs.
I would suggest to avoid duplicating ways to list things.
By the way, the output produced by the search is far more useful since you know the package version.

[2020-04-30 19:13] stcarrez opened #370 "alr index and priority"
The alire indexes have a priority.

- It is not clear what is the highest priority. It seems that **1** is the highest priority.
- If you want to use a local repository and override some community definition you have to put it in highest priority. There is no easy way to do this except by removing and adding it again.
- May be by default a local repository should be a higher priority.

May be a `-

[2020-04-30 19:33] stcarrez opened #371 "alr with to show all dependencies"
When you run the command:
[code]
it gives you the list of crate that you project is using. There is nothing about other crate dependencies.

In previous versions of Alire, it was easier to find out all the libraries that are used, I was looking
at the generated GPR file and it helped me.  With the removal of that, it's harder.

Now the `alr with` command could be improved to show the dependencies

[2020-04-30 19:49] stcarrez opened #372 "alr clean does not clean completely"
If you build the project and run at some point the command:

[code]
and

[code]
then there are still some empty directories in 'alire/build' directory.
This makes you think the clean process is incomplete. It would be nice to have
some 'clean --all' option that really removes the 'alire/build' directory completely and
recursively and not with gprclean because you want the stuff to be removed.

[2020-04-30 20:36] mosteo commented on #369
The original reason for that separation is that `list` acts on crates and `search` on releases. I guess both could be folded into one adding a `--releases` switch for example.

[2020-04-30 20:39] mosteo commented on #370
The list always starts at 1, so you should be able to do this in one step by using `alr --add --before=community` (for example), which will put the new index at the top (assuming you only had the community one). In other words, when you add a new index you can place it at any position in the list.

The `--move` would be interesting on their own, even so, for later tweaking.

Indexes are merged, so

[2020-04-30 20:53] mosteo commented on #371
While inside your alire-aware project, you can get that information with `alr show --solve`, which will itemize your direct dependencies, the complete solution, and the acyclic graph.

If you have `graph-easy` in your path (in ubuntu/debian you have it in `libgraph-easy-perl`) the graph will be formatted in ASCII art.

Perhaps we could show only this part of the information of `alr show` in `alr w

[2020-04-30 21:01] mosteo opened #373 "`alr show` with local crate fails to resolve dependencies"
This is a regression that must have been introduced recently:

`alr show ada_voxel_space_demo --solve` will properly show all external dependencies (in ubuntu). Whereas getting the crate and doing a `alr show --solve` will say there is no solution, which should never happen; at most the missing externals should be reported.

Preliminary inspection shows that the index is not being loaded prior to

[2020-04-30 21:03] mosteo commented on #371
I just opened #373 because testing my suggestion above hit that bug. You can still what would be the expected output of `alr show` using a remote crate as argument: `alr show hello --solve`, for example.

[2020-04-30 21:16] mosteo opened #374 "Transitory status line for long operations"
The new `looking for external` message (related: #356) is popping up in unexpected places, like in the middle of the output of `alr show`. It clearly shouldn't be shown in that case; or, better yet, it could be removed once the in-progress operation it signals is complete.

Perhaps the busy prompt we already have in `Alr.Utils.Busy` can be used here.

More generally, we could try to mimic the stat

[2020-05-01 07:23] stcarrez opened #375 "How to give access to the crate specific data files like CSS, Javascript, HTML, XML, SQL"
Sometimes a crate can provide some data files which are also part of the component and
must be accessible at some point by the final application. Such files are not used during the
Ada compilation process, they are runtime files.  Typical examples:

- HTML files,
- Stylesheet files (CSS),
- Javascript files,
- SQL database schemas,
- other application specific data files.

I struggled to find a wa

[2020-05-01 07:40] stcarrez opened #376 "man page for alr"
It would be nice to have a man page for alr command.

Not a man page that redirects to another documentation. A real man page :-)

I can help if you wish. Let me know the basic format (Troff is nice) but I guess you'll prefer RST :-).

[2020-05-01 10:49] mosteo commented on #375
Right. I now remember we talked about this at FOSDEM. A couple of first thoughts:

- You can run gnatprep with a `post-fetch` action, but depending on the input you need this may not be enough I guess?
- Could the proposal at #345 work if you want to export a path to some resources? Like, you can set a new `MY_CRATE_RESOURCE_PATH=$root/resources`, where `$root` is replaced by `alr` with the folder

[2020-05-01 10:51] mosteo commented on #345
@Fabien-Chouteau , although you said you'd tackle this one I was thinking that I could do the loading/saving part, and you can take from there? Just because the conditional expressions infrastructure is a bit convoluted right now.

[2020-05-01 11:02] mosteo commented on #376
Thanks for the kind offer :-) Personally I've never used RST until this project, nor Troff ever. If Troff is the norm for man pages, I'd say why not.

If you're testing `alr` in a linux box, don't miss this one: #357

[2020-05-01 12:27] stcarrez commented on #376
Yes, man pages are exclusively in Troff (which I really love...). Tools such as Pandoc or Sphinx can convert RST to Troff, PDF and other formats...

[2020-05-01 14:33] stcarrez commented on #375
The issue is to make available these resources to the final program.
Passing that to other crates is nice but not necessary (for me at least).

Always running the program through `alr run` is not practical and easy.
First, you can't debug your program easily and then if you want to install it, you still have the issue of
these crate specific resources located somewhere that you need.

For that pur

[2020-05-01 15:08] stcarrez opened #377 "alr update fails: Dependency resolution failed"
Yet another useful improvement for Alire. Sometimes you get the following error when you run the `alr update` command:

[code]

The `-v` option does not help. The `-vv` option requires deep understanding of how Alire works.

It would be nice to have an explanation about the dependency failure.

Of course, I made a mistake, but which crate is having a wrong dependency and for which other crate? Tha

[2020-05-01 16:26] stcarrez opened #378 "alr update should report the failed crate name when something goes wrong"
When there is an error such as a bad checksum in the crate definition, when you update
your project by running `alr update` you'll get the error:

[code]
But you don't know which crate is bad.
Of course, the -v option helps but it would be nice to have an error message that tells the crate name.

[2020-05-01 16:46] stcarrez opened #379 "Projects created by Alire cannot be loaded by GPS"
Let's create a project with Alire, add some crate dependencies, and now you want to run GPS.

GPS is unable to find the crate GNAT projects, and it has no way to find them.

I see two solutions:

1. Restore the generated GNAT project (alire/alr_build.gpr)
2. Provide a gps command in alr that launches GPS with the environment variables.

Or, hack GPS but this is probably out of scope....

I'm also

[2020-05-01 16:52] setton commented on #379
We'll definitely provide support in GPS :)

[2020-05-01 19:23] stcarrez opened #380 "xmlada crate breaks the build and further integrations in Alire index"
The current `xmlada` crate breaks the build if you use it.
I've manged to remove it locally because xmlada is provided by GNAT 2019.
But, this fails on the automated build when a pull request is proposed on the Alire index.

All the pull requests I've made on Alire index are now marked as failed because they use `xmlada`.

Is there any way to fix that?

[code]

[2020-05-01 20:48] mosteo commented on #375
So you'd like some way of copying folders from the crate into `alire/build` or some similar location (`alire/share`?).

[2020-05-01 20:51] mosteo commented on #377
Yes, I think this is a duplicate of #220.

[2020-05-01 20:57] mosteo commented on #379
I think currently the idea is to source the `alr setenv` output prior to launching GPS.

Issue #54 is about option 2. Privately I have received correspondence where people suggests `alr edit` to make it less ad-hoc.

I was informed that aggregate project files have limitations, so it was better not to rely on those going forward.

[2020-05-01 21:13] mosteo commented on #380
It seems in the future things will be simpler as these projects will be provided as regular crates (see #alire-project/alire#297).

Right now, I can see two short-term possibilities (untested, so I'd need to experiment):

1. Don't depend on xmlada and instead depend on compiler versions that bundle the version you need.
1. We update the xmlada crate with a newer version that doesn't cause these er

[2020-05-01 21:58] mosteo opened #381 "Load index on demand"
The scattered `Requires_Full_Index` calls where necessary in the ancient self-compiling `alr`. Nowadays we could load the index on demand when it is first queried.

[2020-05-02 06:20] stcarrez commented on #380
Yes, I'll remove the dependency on xmlada. I have a similar issue with AWS anyway.
Thanks!

[2020-05-02 10:39] mosteo opened #383 "Add .gitignore file to `init` templates"
Especially since we don't want the `alire` folder to be included in releases by unaware people.

[2020-05-02 10:40] mosteo opened #384 "Check that crate submissions don't include the alire folder"
This folder is recreated on checkout from index information and is not intended for distribution

- [ ] Check in `alr publish`
- [ ] Check in GH Actions

[2020-05-02 15:06] stcarrez commented on #379
Thanks, the `alr setenv` could do the trick.

Beware that it generates an output that cannot be sourced as it prints messages like:

[code]

[2020-05-02 22:43] mosteo commented on #379
Yup, I'm precisely fixing that unwanted output right now

[2020-05-03 08:24] frett27 opened #386 "project compilation fails on latest ubuntu LTS"
Using the latest Ubuntu 20.04 LTS, alire project failed on gnatcoll-slim submodule using the gnat-10 package, installed with `apt-get install gnat-10`

When Installing the gnat-9 package , it compiles fine.

The encontered error is as follow :

[code]

I tried to get the original project from adacore/gnatcoll-core, but it seems the project has much evolved since the fork.

[2020-05-03 10:25] mosteo commented on #386
Thanks for the early warning. I need to re-evaluate the possibility of going back to mainline gnatcoll, but it used to introduce dependencies and build-time requisites I'm trying to avoid. It might be easier to just fix the issue you found.

[2020-05-03 15:04] frett27 commented on #386
Thank's for the rely,
Having a packet manager will certainly help grabbing dependencies for
building the project ;-)
Could probably have a "two stage building ?" -> minimum dependencies first,
grab the needed elements for building the full fledge version ?

Le dim. 3 mai 2020 à 12:25, Alejandro R Mosteo <notifications@github.com> a
écrit :

[2020-05-04 08:37] Fabien-Chouteau commented on #375
I tried to look at how Cargo solves this problem, what I can find so far is that it doesn't:
 - https://www.reddit.com/r/rust/comments/4ivbjj/where_to_put_noncode_ressources_in_cargo_repos/
 - https://users.rust-lang.org/t/packaging-assets-in-a-library-crate/4133/1
 - https://www.reddit.com/r/rust/comments/ahsz9q/psa_if_the_examples_for_your_crate_rely_on_media/

[2020-05-04 08:43] Fabien-Chouteau commented on #375
@stcarrez, autside of `Alire` what layout are you expecting when working/installing your application?

Seems to me that the application will always use a path that is either:
 - hardcoded: `/usr/share/whatever` (potentially depending on --prefix of some kind)
 - relative to the executable location: `../share/whatever`

`gprinstall` can do that, and we already discussed whether or not `alr` should

[2020-05-04 08:45] Fabien-Chouteau commented on #377
There are indeed many places where `alr` output can be more user-friendly.
Thank you for reporting those :+1:

@mosteo maybe we should have a specific GitHub issue label for this kind of problem so that we can list them when we have time to work on usability.

[2020-05-04 08:52] Fabien-Chouteau commented on #379
I am in favor of this, especially because on Windows, `alr setenv` might not be easy to use.
User could have the option so set a preferred editor, and we can also install GNATstudio automatically when possible.

They won't work for cross projects for instance, as you cannot specify the target and run-time in an aggregate project.

[2020-05-04 09:18] stcarrez commented on #375
I don't think we must populate outside of Alire. For most of my projects, I install the additional files in
`/usr/share/dynamo` with other sub-directories for specific components. The rationale for this `dynamo` directory is that the dynamo tool is able to perform a number of tasks like merging SQL files, finding
dependencies which are not defined by GNAT projects (like a pure Javascript component

[2020-05-04 09:32] Fabien-Chouteau commented on #375
I am only considering the crate build tree inside the Alire directory.

How do you get the path to this directory in your code? Relative to the path of the executable?

[2020-05-04 11:17] mosteo commented on #377
:+1: Created the `usability` label for this

[2020-05-04 11:17] #373 closed, assigned to mosteo

[2020-05-04 14:02] stcarrez commented on #375
First, it's relative to the binary executable.
Then, it fallback to the hardcoded `<prefix>/share/dynamo` (in generated code with gnatprep).
Last, it can be overriden with a command line option.

[2020-05-04 17:03] Fabien-Chouteau commented on #345
ok thank you, I can find other things to work on in the meantime.

[2020-05-04 19:06] Fabien-Chouteau commented on #368
Hi @mosteo,

I prototyped a bit on the website, I can make this work but the doc has to be in markdown.
Everyday when the website is generated, the `.md` from the repo can be copied in a doc section of the website.

[2020-05-05 11:12] Fabien-Chouteau commented on #375
Then I think it makes sens to have an `asset` field in the toml that specified one or more files/directories to be copied at the root of the build tree before building (`alire/build/`).

[2020-05-05 16:37] ghost commented on #369
`alr search --list` was accurate when it comes to crate installation availability for me.

Hopefully, ncursesada will be available for OpenSuSE x86_64 platform soon.

[2020-05-06 12:43] #360 closed, assigned to mosteo

[2020-05-06 12:43] #374 closed, assigned to nobody

[2020-05-06 14:14] Fabien-Chouteau commented on #368
This now online e.g. https://alire.ada.dev/docs/catalog-format-spec.html

Now we should probably make a getting started page from the alire/README.md file.

[2020-05-07 10:33] mosteo commented on #368
Looks good!

And for now the [CONTRIBUTING.txt](https://github.com/alire-project/alire-index/blob/devel-0.2/CONTRIBUTING.md) could go into the publishing link.

[2020-05-07 16:48] mosteo opened #391 "Don't fail on available externals in `alr with`"
Right now `alr with` fails when the crate is known and available through externals, saying that crate is not found in the catalog (presumably because there are no detected releases).

[2020-05-07 16:50] mosteo opened #392 "Don't allow adding the root crate as dependency to itself"
Nothing breaks but it's still nonsensical

[2020-05-12 12:39] #386 closed, assigned to nobody

[2020-05-14 10:38] Fabien-Chouteau commented on #376
If we do a man page I think it should be automatically extracted from the help text in the tool itself.

[2020-05-14 11:29] stcarrez commented on #376
Hum... Yes and no. The help information as available today is too short for a man page.
A real man page, I mean a man page that is useful, needs more details.

Now, it may be easier to generate the tool built-in help from documentation files.

Apart from that, on Unix, it could be interesting to have a git-like implementation for the help
where we run the man command on the given alire command. Fo

[2020-05-14 13:08] Fabien-Chouteau commented on #368
A colleague commented that we should have an intro in the doc that explain what Alire is.

Something like this if we look at Cargo: https://doc.rust-lang.org/cargo/guide/why-cargo-exists.html

[2020-05-15 17:11] #371 closed, assigned to nobody

[2020-05-16 06:03] ghost opened #414 "ncursesada crate release for OpenSUSE"
Hi.

I wonder if we could have a release crate for OpenSUSE Linux distro soon.

-- Momozor

[2020-05-18 14:41] Fabien-Chouteau commented on #414
Hi @momozor,

The `ncursesada` should be available on OpenSUSE. What is not working?

[2020-05-18 14:47] mosteo commented on #414
I think OpenSUSE uses `rpm`, and this is a system external crate, so it will appear as undetected.

[2020-05-18 14:57] Fabien-Chouteau commented on #414
Right, sorry I didn't see that.

As far as I can see, there is no `ncursesada` package in OpenSUSE unfortunatly.

[2020-05-19 17:44] ghost commented on #414
Ah I see. Is it possible to use source built ncurses instead?

[2020-05-20 11:01] mosteo commented on #414
That would a possibility, but I tried it at the beginnings of `alr` and it wasn't easily doable (the build instructions are probably too complex, I don't remember the blocker). It's possible that with the features we have at present we might succeed. I'll check again when I have some spare time.

[2020-05-29 08:29] ghost opened #426 "Ensure alr build checks and download dependencies first"
Hi. I have an existing local project that was initialized with `alr init`, and specified used dependency already (i.e, utilada_curl).

However, if I want to build it without existing `alire/cache` and `alire/build`, it will give me this error

[code]

It seems `alr build` tries to build the project first before installing dependencies specified in the specification TOML file.

Am I missing somethi

[2020-05-29 09:56] mosteo commented on #426
Hi @momozor, I would need a more detailed sequence of the steps you did. For example, how did you add the dependency? If I do `alr with utilada_curl`, it already downloads the required project. After that and adding the `with "utilada_curl";`, issuing an `alr run` will build the necessary sources.

We are working on streamlining this two-step process so `alr with` will take care of also updating y

[2020-05-29 09:57] mosteo commented on #426
Note to self: check that whenever `crate.toml` is younger than `crate.lock`, we need an implicit update.

[2020-05-29 10:32] mosteo opened #427 "Update Policy to clarify withdrawing/superseding of releases"
We currently say that a release might be withdrawn, but to avoid breaking people's builds, we should really just only add superseding releases.

This started at alire-project/alire-index#122.

[2020-05-29 11:33] ghost commented on #426
@mosteo

I apologize for not being clear enough.

I just wanted to build a fresh project that uses alr.

For example, if I git clone https://github.com/momozor/nzping (which already uses alr and has specified dependencies) and tries to run `alr build` inside the project, it will return the same error.

[code]

It worked fine when I start a totally new project from scratch with

-  `alr init --bin`

[2020-05-29 11:51] ghost commented on #426
The workaround that works for me currently -

1. git clone https://github.com/momozor/nzping and cd into the project
2. Remove `alire/nzping.lock` and remove `utilada_curl` dependency line from `alire/nzping.toml`.
3. Run `alr with utilada_curl`
4. Run alr build

[2020-05-29 12:24] mosteo commented on #426
I see. You're cloning a project that has the `alire` folder checked in (which isn't supposed to be done for now, for reasons. Another known shortcoming with a solution in the roadmap).

It should suffice to delete the `*.lock` and running `alr update`, without re-adding dependencies.

This problem is related to alire-project/alire#240.

Eventually, yes, they should be equivalent.

[2020-05-29 12:29] ghost commented on #426
Thanks for the tips.

[2020-06-02 10:22] #366 closed, assigned to nobody

[2020-06-03 07:14] esthermations opened #430 "Poor UX on `alr init` if you change what the main procedure is called"
I basically just ran into this situation:

- Create a new project using `alr init --bin my_project`
- Edit the TOML to set my information
- Change the main procedure from `my_project.adb` to `my_project-main.adb` and sort out gprbuild and etc
- Attempt to run my hello world example using `alr run`
- Alr can't find the executable because it expects it to be called `my_project` even though that wasn

[2020-06-03 12:12] mosteo commented on #430
Hello, Esther, thanks for the feedback. Definitely we have many rough corners that unfortunately right now are taking back seat to missing core features. Eventually we should get around to improve these aspects.

[2020-06-03 23:03] esthermations commented on #430
No worries at all! I just thought I'd record this experience as an issue before I forget. Thanks for the hard work!

[2020-06-09 15:02] TamaMcGlinn opened #438 "Unknown project file: "ansi""
This problem was introduced by commit 90959a4465 "Colorize output (#402)".
Before that, I get a different compilation error, about a horizontal tab character being illegal.
Now I get 'unknown project file: "ansi"'.

[2020-06-09 15:06] mosteo commented on #438
This could be a case of a missing git submodule update --init --recursive` or `git pull --recurse-submodules`. Have you tried that? (In the alire repo).

[2020-06-09 15:10] TamaMcGlinn commented on #438
Indeed; how silly of me. Thank you.

[2020-06-09 15:10] #438 closed, assigned to nobody

[2020-06-10 09:36] mosteo opened #441 "Have a last chance handler"
Our catch-all is now in `Alr.Main`, where it will fail to catch anything raised at elaboration time.

[2020-06-10 17:07] #441 closed, assigned to nobody

[2020-06-11 11:32] mosteo opened #445 "Document configuration keys"
PR #443 is the first one to take advantage of the stored configuration, and likely we will have many more to help with the publishing workflow.

At some point we may want to document configuration entries with their type/purpose. Ideally, it should be done in a way that we can reuse for the website and `alr`. Perhaps a collection from which we can both create a topic for `alr help` and markdown fo

[2020-06-11 16:10] Fabien-Chouteau commented on #445
I am already working on this.

[2020-06-15 08:39] #445 closed, assigned to nobody

[2020-06-16 15:23] Fabien-Chouteau commented on #345
@mosteo I was starting to think about the back-end of this. And I wonder if we should allow a `set` action.

As `set` would potentially conflict with other environment action on the same variable:

What would be  the result of two crates setting conflicting values on a variable:
[code]
[code]

We can of course detect this and trigger an error. But I wonder if we should avoid `set` entirely.

[2020-06-16 16:58] mosteo commented on #345
I see... I fear that if we remove it entirely, the need will arise. I'd say to err if trying to set a variable that's already set.

I've looked around in opam and cargo but I didn't find anything conclusive.

[2020-06-23 10:13] Fabien-Chouteau opened #455 "Use configuration values for new crates (email, name, login, etc.)"
I found the code where this needs to go but `Alire.Releases` is pre-elaborate so it cannot depend on `Alire.Config`:
https://github.com/alire-project/alire/blob/738e4b43cf696f5c387ed3b313390ad189d99428/src/alire/alire-releases.adb#L42

[2020-06-23 10:14] Fabien-Chouteau commented on #455
We could also prompt the user for those info when they are not in the config already.

[2020-06-23 10:43] mosteo commented on #455
There's the nuclear option of abandoning explicit preelaboration everywhere; for such a big/complex thing like libalire I'm doubtful about any advantages, since parts of the library can't be preelaborable anyway. I've read comments from some ARG lawyers saying that preelaboration pragmas are a broken idea but we're stuck with it. Frankly this is one of these things that irk me about Ada.

A workar

[2020-06-23 13:23] Fabien-Chouteau commented on #455
Now would be the best time to remove all preelaboration. Do you remember why it was required in the first place?

[2020-06-23 13:52] Fabien-Chouteau commented on #455
I did a ``sed -i 's/with Preelaborate //g' on all sources and it seems to be ok. Compiles and testsuite clean.

[2020-06-23 15:07] mosteo commented on #455
No need in the case of Alire, but that I try to mark everything that's Pure/Preelaborable as such. I guess we lose nothing down the road with half the packages not being preelaborable already.

[2020-06-23 15:46] Fabien-Chouteau commented on #455
Actually it's not when doing a full re-build.

[2020-06-23 15:56] Fabien-Chouteau commented on #455
@mosteo can we provide the user info to the sub-program that create the release in `alr init`?
I tried to follow the callstack but I am not sure what is there to change.

[2020-07-02 17:02] #313 closed, assigned to nobody

[2020-07-08 18:05] mosteo opened #468 "The case for always putting `crate.lock` under version control"
This should be shorter than #466 so I hope a regular issue will suffice. @Fabien-Chouteau, I'm explaining my thinking so you can pick it apart.

TL;DR: I don't find a reason not to always put the lockfile under version control.

**Context**: The lockfile is used to store the current solution, so when it is needed it is not re-resolved. Optionally, it stores pins (to a concrete version and to folde

[2020-07-09 12:51] Fabien-Chouteau commented on #468
I agree with all the above.

A couple things come to mind:

 - ~~Do we need a separate lockfile or can the lock info be included in the manifest?~~ Just as I am writing this I realize that this would be another machine edit of the manifest...
 - Another pro would be that people can mix `Alire` and git submodules during development/prototyping by pinning a submodule dir.
 - As I understand, the cur

[2020-07-09 16:35] mosteo commented on #468
I also thought about this. If we end needing a machine section in the manifest to support `alr with`, we could as well store the lockfile information there too. Although I feel some uneasiness that I cannot pinpoint about this. Having a single Alire file would be cleaner for users though.

I'm not sure I 100% follow here. Would pins to remote repositories as we plan to have work for this case as w

[2020-07-09 17:03] Fabien-Chouteau commented on #468
Sure that would be a better way to do it :)
Either way, that is another reason to put the lockfile in version control.

[2020-07-10 14:37] Fabien-Chouteau opened #469 "auto-gpr-with: only with the project files of direct dependencies"
If crate `a` depends on `b`, which depends on `c`.

`alr with a` should only add `with "a.gpr";` in the the project file and not
[code]

[2020-07-14 19:47] mosteo opened #473 "Changes to remote and local manifests for a simpler publishing workflow"
From the discussion in #466, @Fabien-Chouteau proposes two related changes to the format of the manifest (I hope not to mischaracterize anything):

- Locally, the manifest contains current information of the working release.
   - No need to specify the information below the version key, everything can be moved to top-level
   - Some fields can be omitted to avoid confusion, like `origin`, since th

[2020-07-15 09:35] Fabien-Chouteau commented on #473
I would say remove `[general]` level.

I think it will be easier to store it with every release, one file per release and that's it.

Maybe later we will find that we need something else, maybe deltas from one release to the other, but for now it seems like the best option.

[2020-07-15 09:49] mosteo commented on #473
Understood, then everything is clear. Since we have a few tricky patches ahead of us, I think I'll open any PRs as empty drafts as soon as I start work on them so you can see in advance where things are going.

[2020-07-16 08:47] #426 closed, assigned to nobody

[2020-07-16 09:11] mosteo opened #474 "Use some Spawn_With_Environment for spawns"
When we have to export the environment more than once in a run, this can lead to duplicate exports or clashes.

There is not currently, to the best of my research, a portable spawn with this feature in either GNAT.OS_Lib, GNATCOLL, or GNAT.Expect.

A wrapper over Boost.Process could do the trick.

Could be used to improve #472, #456.

[2020-07-17 15:29] Fabien-Chouteau opened #475 "post-fetch actions not run for dependencies"
Looks like the `post-fetch` action are only run for the root crate and not for the dependencies, for instance with `alr get`.

[2020-07-17 15:42] Fabien-Chouteau commented on #475
Actually it seems to work fine. Sorry for the noise.

[2020-07-17 15:42] #475 closed, assigned to nobody

[2020-07-26 16:37] mosteo opened #482 "[RFC] `alr install` for cross-workspace availability of heavy crates"
Convenient? Doable? Good or bad idea? Implement a new `alr install` that deploys a crate at the current configuration location, making it "globally" available for all regular workspaces sharing the configuration.

This could be useful to reuse "heavy" dependencies like AWS, Matreshka, GNATCOLL... and eventually maybe even GNATStudio and additional compilers?

I'm sure there are tricky things to co

[2020-07-26 19:08] jquorning opened #483 "Simplify"
How to get in the air: Simplify and add lightness!

[2020-07-27 09:14] Fabien-Chouteau commented on #483
Hello @jquorning ,

I am not sure to understand your question. Are those Ada libraries?

[2020-07-27 09:28] Fabien-Chouteau commented on #482
That's a good question, I was also thinking about this lately.
I guess this going more in the "sandbox" territory.

[2020-07-27 09:49] jquorning commented on #483
G’day mate

Maybe more like a collection of unstandardized frameworks i may be working on. It’s gonna be huge!

[2020-07-27 10:00] Fabien-Chouteau commented on #483
The current instructions are available here: https://alire.ada.dev/docs/#publishing-your-projects-in-alire
You can also look at the existing .toml files in the index.

And of course don't hesitate to ask for help.

Note that the process of publishing libraries is probably going to change in the short term.

[2020-07-27 10:00] #483 closed, assigned to nobody

[2020-07-27 13:32] jquorning commented on #483
Sorry - I would just like to thank you on your big work with the Alire package manager tool suite.

When will the next release be due?

—
Jesper Quorning
Brovej 18
8543 Hornslet
jesper.quorning@gmail.com

[2020-07-27 13:54] Fabien-Chouteau commented on #483
The first binary release is planned for the end of the year.

[2020-07-28 15:25] mosteo commented on #482
As I see it, our current solution is a pure sandbox because everything needed is entirely in a workspace. Doing this would mean going out of that sandbox into another encompassing configuration-wide sandbox.

[2020-08-13 13:38] m-kru opened #496 "Running unit tests"
Are there any plans to add command for running unit tests? `alr test` exists, but it `Tests the compilation of all or some releases`.

[2020-08-17 09:36] mosteo commented on #496
Not right now, because `alr test` is intended to verify integration into alire, not integrity of the release itself. But I see how it could be a useful part of the development workflow, so thanks for the suggestion.

[2020-08-25 09:44] NicolaiRuckel opened #497 "Where to put toml and lock files"
I want to add our project to Alire but I'm still a bit confused on how to prepare my repository for that.
My plan was to write a CI job that creates the releases automatically instead of creating the archive manually. The documentation states that the `alire` folder should be excluded from the zip file though which makes that non-trivial since the default release would include that folder. Is it r

[2020-08-25 10:17] mosteo commented on #497
Hi Nicolai,

we're on the verge of merging a refactoring of exactly these things, to clarify the workflow for users and publishers.

At this time there's no problem with putting both files under VCS at their current location, despite the recommendation. After the changes go in (that will be when we merge the `merging/big-refactor` branch, ETA by the end of next week I'd say) these two files will b

[2020-08-31 10:28] mosteo opened #499 "Raise awareness in alire-index checks for submitted crates that have external or unindexed dependencies"
Instead of silently succeeding, something between failing and success would be useful, but not sure this exist in GitHub.

[2020-08-31 11:56] Fabien-Chouteau commented on #499
In the case of https://github.com/alire-project/alire-index/pull/136, there was no `libfuse.toml` at all in the index so in my opinion this should always be an error.

[2020-09-02 17:52] mosteo commented on #315
I just stumbled into this, which seems to squarely address our same concerns about using commit hashes:

https://github.com/cgwalters/git-evtag

Alas, it isn't going to be in git any time soon:

https://public-inbox.org/git/1515442320.3241451.1228399576.66D7DA96@webmail.messagingengine.com/T/#u

It seems that until the transition away from sha-1 isn't completed there won't be a total guarantee. Al

[2020-09-03 10:43] mosteo commented on #497
Hi Nicolai,

the changes I talked about are now merged (#505), and they should address your question. Please comment if you find any problems.

See here: https://github.com/alire-project/alire/wiki/2020-Metadata-format-migration for a summary of the changes.

[2020-09-03 10:43] #497 closed, assigned to mosteo

[2020-09-03 10:44] mosteo commented on #473
Implemented by #505.

[2020-09-03 10:44] #473 closed, assigned to nobody

[2020-09-03 10:45] mosteo commented on #468
Implemented by #505.

[2020-09-03 10:45] #468 closed, assigned to nobody

[2020-09-03 10:52] mosteo commented on #345
Implemented by #389, #452

[2020-09-03 10:52] #345 closed, assigned to nobody

[2020-09-03 14:43] mosteo commented on #298
I think this is solved after #305 and later dealings with incomplete solutions in #451.

For the record, the situation now is that we can use external hints or system packages, or even give a dependency that doesn't even exist in the index, and incomplete (complete if system packages are available) solutions will be provided by `alr`, that users can accept at their own risk (i.e., by making the mi

[2020-09-03 14:43] #298 closed, assigned to nobody

[2020-09-03 14:53] mosteo opened #508 "Accept remote origins in `alr pin --use`"
This feature will allow using code not yet indexed saving the step of downloading it manually.

In this case, `alr update` should pull if the given URL is a repository.

As a intermediate measure, we could detect that a locally pinned folder is indeed a git clone so updates can also refresh these pins.

[2020-09-03 15:23] mosteo commented on #21
pacman support was added for msys2 in #336 so it should be straightforward to support other pacman-based distributions.

[2020-09-05 09:07] stcarrez opened #509 "Interactive questions should accept 'yes' and 'no' as valid answers"
With the new **alr with** command, we have some interactive mode and some questions are asked.

[code]

It would be nice to accept the long forms such as `yes` or `NO` as valid answers because other Linux interactive tools allow you to do so.

[2020-09-05 11:02] mosteo opened #510 "Re-enable crate testing per CI platform"
The `alire-crates-ci` is currently disabled because it was timing out. It should be re-enabled to help with getting the big picture of what crates are failing in what platforms (specially when there are distro version bumps). There's work already done so only one crate is tested per run, but this is yet untested.

Consider sustainability given GitHub Actions quotas.

[2020-09-07 11:21] #509 closed, assigned to nobody

[2020-09-07 17:05] mosteo opened #515 "Accept tags/branches instead of commits for publishing"
These are to be converted to their actual commit before use to ensure release immutability.

[2020-09-10 17:42] mosteo opened #522 "Can't delete temporary folder that contains a git repo [Windows only]"
This happens in the context of cloning a remote during publishing checks.

Both `Ada.Directories` and `GNATCOLL.VFS` fail. Python reports:

[code]

Doubtful this is about permissions, since we run tests as root. It might be that the file is still open, but I don't currently understand how that can be happening.

[2020-09-18 09:42] mosteo opened #531 "`alr init --in-place` broken?"
Check if/how changes to manifests have broken it.

[2020-09-18 09:44] mosteo opened #532 "alire-index's build-crate CI should use `alr test` instead of `alr build`"
This way, test actions will be used when defined, as expected.

[2020-09-18 09:57] mosteo commented on #531
Hi there, @Fabien-Chouteau, I cannot reproduce this issue, can you give me an example of what was failing for you?

[2020-09-18 10:08] Fabien-Chouteau commented on #531
Here's one:
[code]

To be honest I don't think fixing a broken workspace with `alr init` is a very important feature.

[2020-09-18 10:10] mosteo commented on #531
I see, thanks.

[2020-09-24 09:25] Fabien-Chouteau opened #538 "Manifest format: multiple commands in a single action definition"
Right now the actions are defined like so:
[code]
If someone wants two `post-build` actions, the manifest will be:
[code]

We could support a shorter version by accepting multiple commands in a single action definition:
[code]

[2020-09-24 10:41] #367 closed, assigned to mosteo

[2020-09-24 10:41] Fabien-Chouteau commented on #358
@mosteo is this still relevant?

[2020-09-24 10:44] Fabien-Chouteau commented on #315
We decided to allow git commit URL in the community index, but only from a list of trusted host services (GitHub, GitLab, etc.).

[2020-09-24 10:44] #315 closed, assigned to nobody

[2020-09-24 10:53] mosteo commented on #358
I don't think so. We still generate a manifest during `alr get`, but that one is not intended to go back into the index. And we could replace this generation with copying the manifest from the index anyway.

If we needed the feature in the future it can be reopened at that time.

[2020-09-24 10:53] #358 closed, assigned to nobody

[2020-09-24 10:53] Fabien-Chouteau commented on #318
The error message is now improved:
[code]
And the origin format is:
[code]

[2020-09-24 10:53] #318 closed, assigned to nobody

[2020-09-24 10:55] Fabien-Chouteau commented on #300
`VERSION` now has a default value. This will be fixed when I add the 21 branches in the alire index.

[2020-09-24 10:55] #300 closed, assigned to nobody

[2020-09-24 11:13] Fabien-Chouteau commented on #11
@mosteo as far as I know we only generate files in `alr init`. If that's the case it doesn't justify a dependency to `templates-parser`.

[2020-09-24 11:13] Fabien-Chouteau commented on #8
What do you have in mind here?

[2020-09-24 11:21] mosteo commented on #8
This was an early idea that instead of/besides the hardcoded `--bin`, `--lib` project skeletons, a "gallery" with more examples could exist, selected by name with this option. The user could also add their own templates for reuse.

That's related to the #11 issue, so users could create these templates simply by providing files with the templates parser syntax.

Many early issues are somewhat vague

[2020-09-24 11:32] mosteo commented on #515
Implemented in #519

[2020-09-24 11:32] #515 closed, assigned to nobody

[2020-09-24 17:07] Fabien-Chouteau opened #540 "alire-index: automatically request PR reviews from crates maintainers"
The check-author actions could be modified to automatically request reviews from the maintainers.

Example here: https://github.com/kunihiko-t/review-request-action/blob/master/src/main.ts

[2020-09-25 07:41] mosteo commented on #377
Implemented by #451. Now you get a summary of the dependency solution, where any problematic dependency will also be highlighted as missing.

[2020-09-25 07:41] #377 closed, assigned to nobody

[2020-09-25 09:42] Fabien-Chouteau opened #542 "Add Linux release packaging in CI"

[2020-09-25 10:11] mosteo opened #543 "Remove old linux installer"

[2020-09-25 14:25] #383 closed, assigned to Fabien-Chouteau

[2020-09-25 15:04] #543 closed, assigned to mosteo

[2020-09-25 15:34] mosteo commented on #430
Once #547 is merged, the initial manifest will contain the executable property for binary projects, increasing visibility of this property.

[2020-09-25 15:45] mosteo commented on #455
I realize I didn't see/forgot this ping from you, my apologies. As we said this morning I'll try to pick up #461 to use these values during init.

[2020-09-28 11:29] #430 closed, assigned to mosteo

[2020-09-30 16:36] reznikmm opened #550 "How to specify GPL with exception license?"
Some packages have a GPL with GCC exception license. See [GNATCOLL](https://github.com/AdaCore/gnatcoll-core) for example. It has COPYING3 (GPL) and COPYING.RUNTIME (exception) files. The second one has a title:

Is it `GMGPL 3.0`?

[2020-09-30 16:53] Fabien-Chouteau commented on #550
I use "GMGPL 3.0" for gnatcoll. Once we have support for SPDX (#191) it should be `GPL-3.0-or-later WITH GCC-exception-3.1`.

[2020-09-30 17:00] reznikmm commented on #550
thank you!

[2020-09-30 17:00] #550 closed, assigned to nobody

[2020-10-04 14:14] mosteo opened #552 "Missing bash autocomplete features"
- [ ] `alr config --set` built-ins
- [ ] `alr config --unset` defined values
- [ ] `alr pin` <crate>
- [ ] Regular paths in pin/with --use *

[2020-10-04 14:14] mosteo opened #553 "`alr config --unset` silently accepts non-existing keys"
At least warn that your operation did nothing.

Also depending on whether the scope is local/global warn if key exists but remains untouched.

[2020-10-05 07:32] mosteo opened #555 "Consider using github releases for msys2 initial download"
It seems it is not the first time `repo.msys2.org` has being down for non-negligible time, so we might be safer using a download from https://github.com/msys2/msys2-installer/releases instead.

[2020-10-05 08:15] Fabien-Chouteau commented on #555
See #556

[2020-10-06 14:59] mosteo commented on #542
Implemented in #549.

[2020-10-06 14:59] #542 closed, assigned to Fabien-Chouteau

[2020-10-06 15:00] mosteo commented on #455
Implemented in #548.

[2020-10-06 15:00] #455 closed, assigned to mosteo

[2020-10-08 15:54] glacambre opened #560 "Use an older glibc for the appimage?"
First, thanks for providing an appimage, it's a great way to allow painless installations.

I'm encountering a small issue though: I'm on an ubuntu machine that has glibc 2.27. The current appimage requires GLIBC_2.28. This means I can't run the appimage.

I'm not sure what the best glibc version to use is but [neovim](https://github.com/neovim) targets glibc 2.2.5 - that's pretty old but as far a

[2020-10-09 06:46] mosteo commented on #560
Indeed our image is built in a `20.04` system. Thanks for raising this issue.

[2020-10-09 08:34] Fabien-Chouteau opened #562 "Error in alr with doc"
This is not true anymore:
https://github.com/alire-project/alire/blob/a824354668bec0da5137b885984abba71eab7262/src/alr/alr-commands-withing.adb#L566

[2020-10-13 15:13] mosteo commented on #560
We are building now on Ubuntu 18.04. This should also be safe for Debian stable. The alr-0.7 release now ships such an appImage, if you want to test it again: https://github.com/alire-project/alire/releases/tag/v0.7.0

I'm closing this issue for now, please reopen if you find any troubles.

[2020-10-13 15:13] #560 closed, assigned to nobody

[2020-10-13 16:38] Jellix opened #569 "Unhelpful error message"
I tried to publish a remote repository, but hit

[code]

Digging a bit in the source code I then figured I should have updated the remote repository with the alire.toml as well.

That was totally my own fault, and is likely a rather special case (because it only happens as long as there's no alire.toml in the remote), but it could be nice if the error message would be a bit more user-friendly by m

[2020-10-13 16:41] mosteo commented on #569
Indeed that kind of errors should be properly detected and reported, as is the whole point of the `publish` command. Thanks for the report!

[2020-10-13 16:55] mosteo opened #570 "alire-index: check for missing manifest in upstream sources"
Now that `alire.toml` is expected to be among the sources, we should check for it.

Our current `alr get` will recreate the manifest from index information, when missing, for backwards compatibility. We can have a switch to disable this step, for use in the server-side checks.

[2020-10-13 17:03] mosteo opened #571 "`alr update` after a fresh clone reports no changes"
This happens despite going from missing dependencies to a complete solution.

How to reproduce:

1. `git clone https://github.com/HeisenbugLtd/spat.git`
2. `git checkout a25eb494136dcddad52b831e8c058b383d93e677`
3. `alr update` reports no changes, but it's finding the solution to `gnatcoll` and `si_units`.
4. `alr build` before `alr update` fails, when it should fetch dependencies as `alire.lock`

[2020-10-18 04:20] Jellix opened #577 "Build checks fail if multiple (versions of) crates are deployed at once."
Summary of the issues that might be lingering there:

* PR build checks generally seem to get confused when multiple crates are involved:
  * This seems to result in the behaviour that for the final result only the last build is taken into account.
  * Hence in a scenario where a PR changes crate A and B, building of crate A fails, but B is being built successfully after, the final check result *m

[2020-10-18 15:39] Jellix opened #578 "Installing an executable from an alire sandbox (gprinstall)"
I was just updating a project of mine to reflect the fact that it comes with Alire integration and noticed that there seems to be no intuitive way of doing a `gprinstall` from an Alire sandbox?

So, I do

[code]

Everything is fine until then, but doing

`gprinstall -P <gpr-file>`

doesn't work, of course, because gprinstall doesn't find any executables, because they were built in the sandbox.

An

[2020-10-19 10:31] Fabien-Chouteau commented on #578
There is no recommended way at the moment. This is indeed something missing in `alr`.

[2020-10-19 11:27] mosteo commented on #577
Thanks for the report, Vincent.

It's true that only the last release for a crate is built. This was a limitation of the previous format which made much harder to identify the releases being submitted. I should fix it so the precise releases being changed are built.

On the issue of only the last check mattering, I'd be surprised about that, but I'll double check.

Finally, for submissions that ar

[2020-10-19 11:34] mosteo commented on #578
Also take a look at #482.

[2020-10-19 11:42] Jellix commented on #577
I'm not sure, either, maybe the single results somehow get collected into a final result.

I was just inferring from the log:

In line [2954](https://github.com/alire-project/alire-index/runs/1270111342?check_suite_focus=true#step:6:2954) .. [2963](https://github.com/alire-project/alire-index/runs/1270111342?check_suite_focus=true#step:6:2963) you see the first deployment fail.

Just to see in lin

[2020-10-19 11:53] mosteo commented on #577
Thanks for the pointer, that will save me some digging. I may have missed a `-o errexit` or some pipe check.

[2020-10-19 22:39] Jellix commented on #578
Ok, as there is a current solution with the option `--relocate-build-tree=alire/build` and you're having an RFC for an even more general solution, I'll close this.

[2020-10-19 22:39] #578 closed, assigned to nobody

[2020-10-20 09:43] mosteo opened #579 "`alr with` fails for multiple identical definitions of the same environment/external value"
Per alire-project/alire-index#188.

Probably caused by a double set. Immediate workaround is to allow setting to the same value; long-term better solution is to only set environment for child processes.

[2020-10-20 11:11] #579 closed, assigned to mosteo

[2020-10-21 19:22] mosteo opened #582 "Errata in the text when requesting sudo permissions"
Do [you] want (...)

[2020-10-21 21:35] Irvise opened #584 "Running alr without arguments also outputs an error"
When alr is run without commands or arguments, the documentation indicates:
[code]
This does happen, however, before displaying the available commands, it also outputs an error at the beginning:
[code]

This is in itself not wrong, but I believe this case is not an error, since this is an expected use of the tool.

Feedback and discussions on the matter are welcome.

[2020-10-21 21:52] Irvise opened #585 "Better error reporting when running alr build"
When building a project with `alr build` but without the GNAT toolchain in $PATH `alr` outputs:
[code]
The last line is the error line, which currently is not very expressive.

Complete error reporting may not be possible nor desirable, however, I think better handling of some of the more common/simple cases should be had.

Since `gprbuild` and other used programs could not be available (due to se

[2020-10-22 06:34] mosteo commented on #585
Thanks for the report, @Irvise. #583 should fix this one.

[2020-10-22 08:16] Fabien-Chouteau commented on #584
This sounds reasonable to me.

[2020-10-22 08:32] #582 closed, assigned to nobody

[2020-10-22 08:33] #585 closed, assigned to nobody

[2020-10-22 09:20] Irvise opened #587 "Change warn: to warning:"
When trying to download a project with an external dependency that is not available, the output message reads:
[code]

Which is correct, however, `warning` tends to be a more common word to indicate a possible mistake. It is used pretty much everywhere.

Feedback is welcome.

[2020-10-22 14:41] #584 closed, assigned to nobody

[2020-10-22 17:28] mosteo commented on #587
This was nagging me too (although I wrote it initially). I think that's because at some point I wanted all prefixes to be 4 chars long but since we also have "error", "detail", it no longer makes sense.

[2020-10-23 14:44] Fabien-Chouteau opened #590 "alire.ada.dev: no crate pages for external dependencies"
There is no crate page for externals so the links in the de dependencies list of a crate lead to a 404.

For example with:
 - https://alire.ada.dev/crates/matreshka_sql_sqlite3
 - https://alire.ada.dev/crates/libsqlite3

[2020-10-25 18:00] stcarrez opened #593 "alr publish failed precondition from alire-publish.adb:456"
When trying to use the new `alr publish` command, I'm getting an error:

[code]

Looking at the pre-condition in the source, it is not clear what caused the issue.

There seem to be a lot of magic behind the `alr publish` command.

[2020-10-25 18:11] mosteo commented on #593
Thanks for the report, Stephane. I suspect this is caused by the remote repository/source file not containing the `alire.toml` file. Definitely something we should report without crashing.

[2020-10-25 18:13] stcarrez commented on #593
@mosteo, yes that was the issue, the file was present locally but not committed in git.

[2020-10-25 18:17] stcarrez opened #594 "alr publish reports strange error 'No Alire workspace found at .'"
After adding the `tags`, `authors` and `website`, to the Alire manifest file, I've got the following strange error:

[code]

Hopefully, the `-d` option helped, and it was caused by an invalid tag that was using upper case letters.

[code]

It would be nice to have a clever error message with may be the tag string that is incorrect.

[2020-10-26 18:24] mosteo commented on #380
Closing, as AdaCore has already indexed the `xmlada` crate with sources valid for all compiler versions tested by Alire.

[2020-10-26 18:24] #380 closed, assigned to Fabien-Chouteau

[2020-10-26 19:06] mosteo commented on #593
Duplicate of #569

[2020-10-27 11:45] #569 closed, assigned to nobody

[2020-10-27 11:45] #593 closed, assigned to nobody

[2020-11-02 11:36] stcarrez commented on #594
FYI, if the alire.toml file exists but has duplicate tags (or another issue), you'll get a similar error.

[2020-11-03 09:31] Fabien-Chouteau commented on #594
I guess this message `Cannot load manifest elada, please review contents:` should not only be displayed with `-d`.

[2020-11-03 10:51] mosteo commented on #594
Yes, we need to re-expose that the manifest is not loadable. I'll get on it once I unclog a few urgent matters.

[2020-11-03 17:32] MaxBarraclough opened #603 "Network Graph page should indicate which projects are in SPARK"
It would be neat if the [_Network Graph_](https://alire.ada.dev/network) page showed which projects are in SPARK, perhaps by using colour.

[2020-11-04 07:55] Fabien-Chouteau commented on #603
Thanks for your feedback @MaxBarraclough ,

So far the only way to know if a crate is in SPARK is to use the tags declared by the contributor.

[2020-11-04 09:32] Fabien-Chouteau commented on #603
I implemented something to provide different colors of node: https://alire.ada.dev/network

SPARK tagged nodes are in purple.

[2020-11-04 09:32] #603 closed, assigned to nobody

[2020-11-04 10:17] #594 closed, assigned to nobody

[2020-11-04 11:22] mosteo opened #605 "Windows toolchain installation gets stuck sometimes"
For example: https://github.com/alire-project/alire/pull/604/checks?check_run_id=1352436022

It seems a key press is being waited for. This does not happen 100% of the time though.

Example of successful run: https://github.com/alire-project/alire/pull/601/checks?check_run_id=1347336196

@Fabien-Chouteau, any ideas on this one? Who's asking for the key press?

[2020-11-04 14:17] Fabien-Chouteau commented on #605
No I have no idea...

[2020-11-04 15:21] pmderodat opened #606 "Precondition failure from alire-publish.adb"
Hello,

While trying to publish a crate for a example program using Libadalang, I got a crash:

[code]
I’m using:
[code]

There commands were executed at the root a clone of the repository above, with the commit passed to `alr` checked out, and here’s my `alire.toml`:
[code]

Please let me know if you need help to reproduce. Thanks!

[2020-11-04 16:06] mosteo opened #607 "Improve the formatting of `alr version`"
We can do better with a table for readability and a more reasonable ordering of the information being provided.

Also remember to include the info about being in a terminal/detecting color available.

[2020-11-04 16:44] Fabien-Chouteau commented on #606
So this is an `alr` built from sources?

[2020-11-04 16:48] pmderodat commented on #606
No, it was installed from a GitHub binary release.

[2020-11-04 16:54] mosteo commented on #606
This is then my fault at some point when I retagged the `0.7` release. Incidentally, I was going to propose to release `0.7.1` soon once our pipeline of recent bug reports is empty, so we can have this [improper version] fixed too.

[2020-11-04 16:56] mosteo commented on #606
This is likely [fixed by] #595 (originally reported in #569, #593). If you have the time to test with a build from `master` we will know for sure; otherwise I'll try to reproduce later.

[2020-11-04 17:10] mosteo commented on #606
I just checked and this is indeed duplicate of #569 and fixed in `master`, so closing. Thanks for the report!

[2020-11-04 17:10] #606 closed, assigned to nobody

[2020-11-05 11:08] Fabien-Chouteau opened #610 "Command line arguments starting with '-' (dash)"
For instance with `alr config`:
[code]

Looks like we need to add support for `--` (double-dash).

[2020-11-05 11:25] #571 closed, assigned to mosteo

[2020-11-06 15:46] pmderodat opened #615 "Style checks & CRLF on Windows for git origins"
In https://github.com/alire-project/alire-index/pull/198, I’m trying to add a crate with a git-based origin. By default, the GPR project compiles with `-gnatyg -gnatwae` (it’s the dev mode). Unfortunately, on Windows, git automatically translates LF line endings to CRLF, then `-gnatyg` warns on them, and `-gnatwae` finishes to kill the build. ;-) See <https://github.com/alire-project/alire-index/p

[2020-11-06 16:08] mosteo commented on #615
@Fabien-Chouteau disabled that particular check for the project files generated by `alr init` (the template uses `-gnaty-d`), I guess to avoid causing this problem.

Given that both the project warnings and git behavior for line endings can be configured by a project owner, my impression is that this matter is beyond `alr` (now that we are initializing a combination that does not lead to this prob

[2020-11-09 08:32] Fabien-Chouteau commented on #615
One problem is that someone developing a crate on Linux will only see that error when contributing to the index. It's good that we catch it, but it is late.

The other problem is that `git` doesn't provide a way to change this behavior when running `git clone`, one must first change the global configuration. Which is a bit intrusive.

I don't think we have a good solution available here. Unfortuna

[2020-11-10 09:19] pmderodat commented on #615
I see, thanks! I’ll have to go with a source archive for now, and I guess I’ll add `-gnaty-d` for future releases.

[2020-11-10 11:06] #615 closed, assigned to nobody

[2020-11-18 09:26] mosteo opened #618 "Alire.Roots.Solution needs caching"
As every call reloads the `alire.lock`-stored solution, load times start to become noticeable after adding a few dependencies, for operations that use this call several times.

Caching must take into account that the lockfile is updated when dependencies are modified, so the timestamp has to be checked before each use.

[2020-11-19 15:37] mosteo opened #624 "Crate submission check enhancements"
Use some form of annotation (reviewdog? GH API?) to generate warnings as comments.

Checks to be implemented:
- [ ] Warnings should be promoted to errors (e.g., license arrays)
- [ ] Missing fields in manifest (license, tags, website, etc.)
- [ ] Author not in the list
- [ ] Missing external dependencies that cause a build skip
- [ ] Detect build mode being set in libraries
- [x] Build on docker i

[2020-11-19 15:41] mosteo opened #625 "[RFC] Possible handling of toolchains in `alr`"
A few open questions about toolchain handling.

- Should Alire install toolchains?
   - From distrib? (msys2, debian, etc.)
   - From GNAT Community?
- Should Alire have its own toolchain builds?
- Cross toolchains?

[2020-11-19 15:51] mosteo opened #626 "Configuration of crates"
Given that gprbuild can only deal with static dependencies, and that Ada has no preprocessor, perhaps alr could help in that regard, possibly by creating extra project files / source files before building.

Related questions/information:
- Configuration of projects: https://github.com/Fabien-Chouteau/ada-config-generator
- How to configure dependencies?
- https://doc.rust-lang.org/cargo/reference/

[2020-11-19 15:57] mosteo opened #627 "GPRless crates"
Very preliminary ideas.

Can we generate the gpr file [on the fly] for basic crates so that users don't have to deal with it?
Able to support conditional/optional dependencies.
Could enable standardisation of project files.
What about editing the project sources? We need the gpr file for that.

Other ideas related or movable to #626:
The user made GPR withs an Alire made GPR.
The Alire made GPR wi

[2020-11-19 16:02] mosteo opened #628 "Make executables in dependencies available to dependents"
If I have a tool dependency, I want to be able to use it during pre-build actions
- Only affects dependencies with declared executables
- Can the build of such dependencies be launched recursively before pre-build actions?
   - Are pre-build actions in dependencies being run right now?

Related:
- cargo install -> .cargo/bin/<exec>
    - [ ] What happens with libraries?
    - [ ] Can a binary be a

[2020-11-19 16:05] mosteo commented on #499
Related to #624

[2020-11-19 16:10] mosteo commented on #379
Implemented by #545 and #611

[2020-11-19 16:10] #379 closed, assigned to nobody

[2020-11-20 10:31] mosteo commented on #510
Did a little research on Travis quotas and just this month they switched they pricing plans. The ~free~ trial OSS tier provides now 10_000 ~monthly~ credits, i.e., [1_000](https://docs.travis-ci.com/user/billing-overview/#usage---credits) minutes.

[2020-11-21 13:09] pmderodat opened #630 "Crash on bad hash"
Tested with 0.7.1:

Trying to add a dependency when the index contains an invalid hash results in an internal crash:
[code]

For instance, use a crate with an archive origin that has the following hash:
[code]

[2020-11-22 08:52] rveenker opened #632 "Publishing a local tar file on Windows (without Msys2) fails"
On Windows there exists a tar command (\Windows\System32) that can also be used for Alire. This eliminates the need for Msys2.
However the commands and parameters are slightly different.
The Alire command used is 'alr publish --tar --force'

To solve this issue I have created a fix and submitted a pull request.
The pull request contains comments on the changes I made.

Note that this change is not

[2020-11-23 17:35] mosteo commented on #522
Might this be related to attempting to delete a folder before leaving it?

[2020-11-23 17:39] mosteo opened #633 "`post-fetch` and `pre-build` actions not running at all expected moments"
During packaging of `rclada` it seems that
- `post-fetch` is not run for the root crate.
- `pre-build` is not run for dependencies.

If true (need to verify), this means that `post-fetch` only works for dependencies and `pre-build` only works for root crates.

Update 2021-01-28: this is the intended working per `Alire.Properties.Actions` documentation. It's still counterintuitive and the catalog s

[2020-11-25 09:56] mosteo commented on #630
Thanks for the report, Pierre-Marie. Will get to it soon.

[2020-11-26 11:33] mosteo opened #634 "Crash in auto-with for nested project files"
Steps to reproduce:
1. Have a crate with its project file stored in a subfolder.
   1. Might be necessary that the folder name contains dots.
2. `alr with` some new dependency
3. Crash as follows:
[code]

[2020-12-01 12:01] mosteo commented on #632
Partially addressed by #631. I will try to come up with a safe subset of `tar` options for all versions that can appear.

[2020-12-01 16:00] #630 closed, assigned to mosteo

[2020-12-09 07:32] Patschkowski opened #638 "alr publish on Windows just hangs"
Hi,

when I do an alr publish on my Windows machine it never gets past this point, it just hangs forever:

PS C:\lua2> alr publish
Success: Local repository is clean.
Success: Revision exists in local repository (92a6a3ab85b962a24094106e8c102e4a9d16eed4).

Publishing assistant: step 1 of 6: Verify origin URL
Success: Origin is of supported kind: GIT
Success: Origin is hosted on trusted site: githu

[2020-12-09 09:18] mosteo commented on #638
Thanks for the report, Felix. Windows is among our tested platforms so definitely we want this to be working.

Time permitting, could you give us the output of `alr version`, and also run the problematic command with extra `-vv -d` flags? Thanks!

[2020-12-09 09:58] Patschkowski commented on #638
Here you go

PS C:\lua2> alr version
Alr version: 0.7.0-dev
Alire Library version: 0.7.0-dev
alr status is (valid) (0 releases indexed) (loaded in 1.149s)
config folder is C:\Users\nxp87720\.config\alire
source folder is C:\Users\nxp87720\.config\alire\alire
interaction flags are: force:FALSE not-interactive:FALSE
alr root is lua=5.4.1
alr root detection has settled on path: C:\lua2
alr is finding

[2020-12-17 08:20] mosteo opened #639 "Clarify semver caret and tilde operator semantics"
We don't make any special interpretation of these operators for `<1.0.0` versions (and semver spec says that there's no guarantee at all for such versions). We can:

- [x] Clarify this interpretation at the relevant point in the catalog spec.
- [x] Emit a warning for `^0.x.x` dependencies, which are likely to be intended as `~0.x.x`.
   - [x] Make this warning optional via some config option.

[2020-12-17 11:40] yannickmoy opened #640 "current version of alire.toml in the repo leads to deprecated warning"
With a fresh checkout of alire, the first run of `alt get` got me the warning:

[code]

Possibly you want to remove or update the version of `alire.toml` in the repo?

[2020-12-17 12:08] mosteo commented on #640
I guess that's because you ran `alr get` on a parent folder (`dev`?) of `alire/alire.toml`?

[2020-12-17 12:11] mosteo commented on #640
I think we can safely remove this warning for the next stable release, as it was intended for when we migrated the location of the manifest.

[2020-12-18 01:33] onox opened #641 "alr get does not detect external libgtk3 package on Arch Linux"
I edited file `index/li/libgtk3/libgtk3-external.toml` of the libgtk3 package in the index as follows:

[code]

This causes `alr show --external libgtk3` to show:

[code]

But when I then do `alr get eagle_lander` it shows the following:

[code]

(I had already fixed pkg_config).

When I run `pacman -Qi gtk3 | grep Version` I get: `Version         : 1:3.24.24-1`.
For comparison, `gtk2` shows: `Ver

[2020-12-18 01:37] onox opened #642 "alr run shows verbose compiler output"
When I execute `alr run` in keystoreada* I get output like this:

[code]

This is quite verbose IMO. Would it be possible to change it to something like the following?

[code]

[2020-12-18 01:41] onox opened #643 "--verbose could be added as long form of global option -v"
`alr --help` shows various options with their short and long forms. Option `-v` does not seem to have a long form, even though `--verbose` is pretty common option in many tools.

[2020-12-18 01:58] onox opened #644 "Output nitpicks for alr, alr help, and alr --help"
Just a bunch of nitpicks:

`alr` shows:

[code]

* Note the empty line at the beginning (there's also an empty line at the end of the output) and usage is written in uppercase. There are 2 empty lines instead of 1 in the output.

While `alr --help` shows:

[code]

* Empty line at the beginning again, but no empty line at the end. Usage is not fully uppercase (better).

Running `alr help` shows:

[

[2020-12-18 02:01] onox opened #645 "alr show always shows Long_Description"
Showing Long_Description might make it more difficult to parse the output of alr show.
Could this property be only shown in verbose output (-v)?

[2020-12-18 02:22] onox opened #646 "alr show does not show which dependencies are unresolved"
`alr show <crate>` shows a list of dependencies, but does not show which of those are unresolved.

Tested with `alr show sdlada` on Arch Linux.

I ran `alr show --external libsdl2` and it shows empty details for Arch, but Available is True :confused:

If I use `alr show --solve sdlada` it shows:

[code]

with `hinted` in yellow. Does that mean it could not find the package?

[2020-12-18 02:56] onox opened #647 "alr with wants to install already installed system package"
[On Arch Linux]

1. Fix the various files (libsdl2, libsdl2_image, and libsdl2_ttf) in the alire-index
2. Install sdl2 with `doas pacman -S sdl2 sdl2_image sdl2_ttf`
3. Running `alr with sdlada` shows:

[code]

For some reason alr thinks that sdl2 is not installed?

[2020-12-18 07:03] mosteo commented on #642
Thanks for all the comments/submissions, Simon.

I would be in favor of this, leaving the actual output for `-v`. Cursory checking shows that we're enabling verbose output even when no `-v` flag is passed for all spawned commands, which may be just an old oversight.

@Fabien-Chouteau do you like the idea?

In general, I think we need to review what goes in verbose output as right now some messages

[2020-12-18 07:52] mosteo commented on #646
Yes, anything shown as "hinted" is known to be available in some platform (not necessarily the current one), but not detected.

Anything listed under external when using `--solve` is missing. Another clear indication that something is missing is that the rhs in the graph arrow shows a dependency instead of the resolved version.

Now that you point it out, this is a nomenclature mix-up, as that "ex

[2020-12-18 09:03] Fabien-Chouteau commented on #641
Can you try with `alr` verbose options `-d -vv`?
It could be a version detection error in the `pacman` support.

[2020-12-18 09:15] Fabien-Chouteau commented on #645
Do you mean parse by a script? Because for humans the description is important.

[2020-12-18 09:17] mosteo commented on #645
What about a `Long description: <xxxx characters omitted, use -v to show them>` in the default verbosity level?

[2020-12-18 09:17] Fabien-Chouteau commented on #642
ok for me

[2020-12-18 09:37] #642 closed, assigned to nobody

[2020-12-18 09:37] #634 closed, assigned to nobody

[2020-12-18 21:56] onox commented on #641
The relevant output shown is:

[code]

[2020-12-18 22:00] onox commented on #645
@Fabien-Chouteau If a crate contains a long Long_Description it might make it more difficult to quickly scan (by a human) the output and find certain info in the output, so what @mosteo suggests sounds good to me.

[2020-12-21 10:07] mosteo commented on #641
So, the version parsing regex for Arch is wrong. The `"1:"` part is reminiscent of versions in Debian, maybe the reasoning is similar. It should be easy to fix.

Thanks for the output!

[2020-12-21 18:47] mosteo opened #650 "Should unknown enum values in the index be an error?"
For our dynamic expressions we use enums with predefined values. Finding an unknown value is currently an error that stops Alire.

As adding values can be a transparent change for current users (e.g., adding a new supported distro), we could consider silently ignoring unknown enum values, unless we are `alr publish`ing. This would allow index updates without bumping the index version.

We could al

[2020-12-22 07:14] Fabien-Chouteau commented on #650
I don't think completely silent is a good idea because one could miss a typo for instance.

[2020-12-22 09:51] mosteo commented on #650
Yup, that's the main problem.

Having warnings would probably be too polluting, and could scare users that did nothing but update the community index. I'm not sure how to strike the precise balance.

[2020-12-23 11:35] mosteo opened #653 "Granularity of maintainers for external definitions"
See e.g. https://github.com/alire-project/alire-index/pull/217.

The trouble is that it's highly likely that different distros/os will have different maintainers; adding all of them to the list means that any of them can edit any platform. Not adding all of them means that manual review would be necessary for changes to externals. (Currently all submissions undergo final manual merge, but this mig

[2020-12-24 07:00] onox commented on #641
@mosteo The bug is partially fixed:

[code]

But a little bit later in the output I get:

[code]

If I do `pacman -Qqe gtk3` I get zero results, but if I do `pacman -Qq gtk3` then pacman displays `gtk3`. If I do `pacman -Qi gtk3` I get to see `Install Reason  : Installed as a dependency for another package`.

[2020-12-24 17:02] Fabien-Chouteau commented on #650
Right...

Let's do the --check then

[2020-12-24 17:13] Fabien-Chouteau commented on #641
`pacman -Qqe` is used to know if a package is already installed: https://github.com/alire-project/alire/blob/8e6bc4673c0cad3f69375d596782484d979004f7/src/alire/alire-origins-deployers-system-pacman.adb#L39

Maybe the `e` is too restrictive. I am no a `pacman` expert.

[2020-12-27 07:35] Fabien-Chouteau commented on #653
I don't feel like it is worth adding complexity to the code.

I would say do nothing and let people add their names/logins to the maintainers list if they want to be included in reviews (something we should be able to do with GitHub Actions at some point).

[2020-12-27 07:44] Fabien-Chouteau commented on #653
https://github.com/kentaro-m/auto-assign-action/blob/master/src/pull_request.ts

[2020-12-29 13:53] mosteo commented on #638
I can reproduce it. I've narrowed it down to a call within GNAT.Expect not returning as it does on Linux. Working on a workaround.

[2020-12-30 00:06] #641 closed, assigned to nobody

[2020-12-30 00:07] #638 closed, assigned to nobody

[2021-01-01 11:27] wiremoons opened #657 "Alire crate for 'alr' tool?"
Hi

Thanks for creating Alire and the `alr` CLI tool - both have been very helpful to me while I have been learning the Ada language over the past months. Not only the use of the `alr` tool, but also being able to look at the [Alire GitHub source code](https://github.com/alire-project/alire/) for inspiration and coding examples has been very useful. It is very nice to have modern examples of Ada s

[2021-01-02 17:47] onox commented on #647
This looks like to be have been fixed in latest version of alr:

[code]

[2021-01-02 17:47] #647 closed, assigned to nobody

[2021-01-04 10:51] Fabien-Chouteau commented on #657
Hello @wiremoons,

Thank you for the nice feedback :)

We may add an `alr` crate in the index at some point.

I added an `Alire` badge in the website: ![](https://img.shields.io/endpoint?url=https://alire.ada.dev/badges/alire-badge.json)
Just use this line in your GitHub markdown:
`![](https://img.shields.io/endpoint?url=https://alire.ada.dev/badges/alire-badge.json)`

[2021-01-04 10:51] #657 closed, assigned to nobody

[2021-01-04 18:10] mosteo opened #658 "Releases pending to be ported to next index branch"
As `stable-0.4` and `devel-0.5` have diverged, we need to "forward"-port these contributions that exist only in `stable-0.4`:

- [x] https://github.com/alire-project/alire-index/pull/216
- [x] https://github.com/alire-project/alire-index/pull/227
- [x] https://github.com/alire-project/alire-index/pull/230 + https://github.com/alire-project/alire-index/pull/231
- [x] https://github.com/alire-projec

[2021-01-04 18:14] mosteo opened #659 "Run `alr index --check` on index submissions"
After https://github.com/alire-project/alire/pull/656 we need to server-side check that submissions don't contain invalid enum values.

[2021-01-04 18:14] #650 closed, assigned to nobody

[2021-01-08 13:50] Heziode opened #660 ""cannot relocate deeper than object directory" on locally pinned deps"
Hi,

I get this error when try to `alr build` a project that depends on a local deps: `cannot relocate deeper than object directory`

The error came from a dependence that I added like this: `alr pin|with mylib --use /path/to/my-lib`

**Alr version**: 0.7.1

[2021-01-08 14:20] Fabien-Chouteau commented on #660
I have seen the same problem but thought it was an issue on my side.

[2021-01-08 16:07] mosteo commented on #660
I also saw this at some point but I thought it was solved. Oh well...

[2021-01-12 09:42] mosteo opened #661 "Adding dependencies requires reopening GNATstudio"
I'm hitting the following minor nag:

1. `alr edit`
2. Realize I new a new dependency.
3. `alr with`
4. Now the path to the new project file is not known to GNATstudio, as it relies on the environment that existed when it was opened.
5. Quit GS and redo `alr edit`.

It would be good to be able to streamline this. First idea that comes to my mind is to create an aggregate project during `alr with`

[2021-01-12 09:56] Fabien-Chouteau commented on #661
Unfortunately aggregate projects don't work for cross compilation.

[2021-01-12 23:48] onox commented on #628
I have a tool that can be made available to a dependent library with:

[code]

Which is then used in a library as follows:

[code]

However I need to manually build the tool first, otherwise the pre-build action in the library fails.

I would expect alr to automatically build the tool dependency and make executables in the `executables` array of the crate automatically available in dependent libra

[2021-01-13 01:02] onox opened #662 "`alr with` stores value of --use as absolute path in alire.lock"
I have a monorepo with a number of crates, including wayland_ada_scanner (a tool) and wayland_client_ada (a library).

During development or CI I would like to use the local wayland_ada_scanner crate in wayland_client_ada. I added the scanner as a dependency to wayland_client_ada as follows:

[code]

This results in the following alire.lock file:

[code]

This obviously won't work for other users

[2021-01-13 11:11] Fabien-Chouteau commented on #628
Thanks @onox this is clearly one of the use cases that we want to address.

[2021-01-13 12:01] mosteo commented on #662
As you describe it, it makes sense. I had always assumed that one would not want to publish local paths, but I see your point. Thanks for the report.

This is thematically related to #508.

[2021-01-13 12:31] mosteo commented on #628
I'm unsure about what you mean by "manually build". Is it perhaps the current workaround: to force your tool to build in a `post-fetch` action of the crate generating the tool?

I think it makes sense to incrementally build all dependencies in the order they're needed (this order is already applied to actions). Each build will find dependencies already built so it should incur not too much time pe

[2021-01-13 13:32] Fabien-Chouteau commented on #628
I also think this is the way to go.

We can consider `gprinstall` for exe dependencies. The executable will be in the `bin/` dir.

[2021-01-13 13:39] mosteo commented on #628
Ah, well spotted. That would eliminate all the problems I listed.

[2021-01-14 17:16] mosteo commented on #570
We don't really want to use a potentially packaged `alire.toml`, as the index information is authoritative. In fact, this would go against #487. So closing as `wontfix`.

[2021-01-14 17:16] #570 closed, assigned to mosteo

[2021-01-14 17:49] mosteo commented on #340
Closing as we are regularly using CE2020 without trouble.

[2021-01-14 17:49] #340 closed, assigned to nobody

[2021-01-15 16:55] Fabien-Chouteau commented on #660
@mosteo do we __have__ to set a `--relocate-build-tree=alire/build`?
One solution for multiple problems we see come from this relocation I think.

[2021-01-15 18:36] mosteo commented on #660
Is there another way of making an out-of-tree build? It was my first time fighting with these gprbuild switches. That was my objective here.

Of course we could dispense with that, and build in-tree. Although I like the cleanliness of knowing we aren't touching anything, for example in pinned folders. This may be less of a concern for GNAT users, as gpr files allow to define where the build has to

[2021-01-15 18:38] mosteo commented on #369
For this one I would propose to simply rename `alr list` to `alr crates`

[2021-01-22 09:41] Heziode opened #663 "Use case insensitive for maintainers-logins"
The `maintainers-logins` is used to authorize crate modifications. It shall contains github login usernames.

However, Github usernames are case insensitive.

Example: [Heziode](https://github.com/Heziode) | [heziode](https://github.com/heziode)

`maintainers-logins` are case sensitive.

[2021-01-22 10:12] mosteo commented on #663
Thanks, Heziode. Related to #624.

[2021-01-22 10:22] Fabien-Chouteau commented on #663
This is only an issue in the https://github.com/alire-project/check-author action as far as I can tell.

[2021-01-23 08:54] Heziode opened #664 "Alr init: bad generation of Style_Checks and Contract_Checks"
Step to reproduce:
- `alr init --lib foo`
- `alr init --bin bar`

The content of this both `.gpr` contains:

[code]

The first case contains an extra `=> null`, the second the `=> null` is on `when "enabled"` but it shall be on `when "disabled" `

[2021-01-23 10:32] mosteo commented on #664
Thanks for the report, Quentin.

[2021-01-23 13:17] wiremoons commented on #625
Hi @mosteo

**TL;DR:** : I have been thinking about the suggestions / questions you have made for this RFC. The ability for `alr` to bootstrap an Ada GNAT tool chain install if it is missing on a system would be a good feature in my view!

For more thoughts if you have time to read them:

I have used the similar capability available with the OCaml `opam` tool which can do this already. As you may

[2021-01-25 10:08] Fabien-Chouteau commented on #625
Thank you @wiremoons for the feedback :+1:

Yes, I don't see the point of having a separate tool for this. Also because one could specify dependency on a given version of the toolchain so it fits in Alire features. Everything we need to download an install a toolchain archive is more or less already in Alire.

This could be an option indeed, I am worried that it would be too complicated for beginn

[2021-01-25 12:02] #664 closed, assigned to nobody

[2021-01-27 16:12] mosteo commented on #625
Hi @wiremoons, thanks for the feedback! I don't have much to add, but personally I would like to see it happen, specially if CE editions disappear in the future.

Fabien's point on compilation time is important, but I'd still would like to have it as a fallback, if it is not outrageously difficult to package. Other than that, I feel that distro-packaged versions should be the default whenever avai

[2021-01-27 16:25] mosteo opened #666 "Missing bash completions"
To be added:
- [x] Regular paths in `pin/with --use *`

[2021-01-27 17:22] mosteo commented on #660
I've been trying to wrap my head around how these two grpbuild options work and I don't think that this can generally work with e.g. Windows multiple drive names, as there cannot be a root dir that is above all sources if these are split on diferent drives.

So I'd say to remove this relocation, with the understanding that pinned directories will be built in place, with whatever consequences that

[2021-01-28 09:36] #660 closed, assigned to nobody

[2021-01-28 09:37] #640 closed, assigned to mosteo

[2021-01-28 09:56] yannickmoy commented on #640
Oops I missed the previous messages... thanks!

[2021-01-28 16:26] mosteo commented on #633
It's probably worthwhile to homogenize these events so they're run for all releases in the solution at all the described moments. However, these changes would have profound impact on the current build workflow.

The necessary changes would fit well with what is proposed in #628. I suggest we document the current behavior more clearly and leave the big changes for post-1.0. @Fabien-Chouteau, do you

[2021-01-28 16:40] mosteo commented on #522
Now I have seen this problem when trying to delete a git tree from a powershell.

[2021-01-28 17:08] Fabien-Chouteau commented on #633
This will have to be a post 1.0 fix indeed.

[2021-01-29 13:24] onox commented on #628
What I meant is that I need to use a Makefile to first build the wayland_ada_scanner crate before running `alr build` in the wayland_protocols_ada folder. See https://github.com/onox/wayland-ada/blob/master/Makefile

[2021-02-01 09:53] #369 closed, assigned to mosteo

[2021-02-01 11:58] onox commented on #644
What do you think of something like this? (output of `alr`)

![20210201_12h48m24s_grim](https://user-images.githubusercontent.com/3361585/106455869-1034e380-648d-11eb-9c3a-374cf06233f0.png)

[2021-02-01 12:11] mosteo commented on #644
Looks great! It also makes me realize that there's a mix of imperatives/indicatives that rubs me the wrong way...

[2021-02-01 12:57] onox commented on #644
Okay, I'll tune the output of `alr help` and `alr help <command>|<topic>` as well then.

[2021-02-02 18:00] #639 closed, assigned to mosteo

[2021-02-02 18:17] #522 closed, assigned to nobody

[2021-02-03 11:26] #658 closed, assigned to nobody

[2021-02-04 01:12] onox opened #679 "Platform-dependent info in lockfiles should not be reused in other platforms, with warning about not 100% reproducibility"
`alr show --external libwayland` shows:

[code]

but when I run `alr build` on Arch Linux in my crate (wayland_client_ada), I get the following output:

[code]

If I inspect the `alire.lock` file (which was created on an Ubuntu system), I see:

[code]

if I change it to `url = "system:wayland"` then the error does not occur.

Lock files are usually checked into VCS to make sure every developer use

[2021-02-04 10:43] mosteo commented on #679
You have a knack for hitting sticky points :) Currently, lockfiles store platform-dependent info when there are system crates in the solution. We should discard any platform-dependent info in the lockfile that belongs to another platform, and warn that the build is not exactly the one the packager intended. I'm renaming this issue to better reflect the root of the problem.

(I'm presuming we're ta

[2021-02-04 10:58] onox commented on #679
Then alr asks whether I want to change to libwayland 1.18.0 and changes `alire.lock` to contain `url = "system:wayland"`, which fixes the issue.

[2021-02-04 11:37] mosteo commented on #679
OK, thanks. I wanted to confirm that an explicit update would fix the lockfile.

[2021-02-05 10:35] Fabien-Chouteau opened #685 "Incomplete solution message not very clear to me"
I was testing `1.0-rc1` on Windows and I got the incomplete solution message:
[code]
To me it is really not clear what dependency is missing. I know it is gnat from context, but the message could be a lot more explicit.

[2021-02-05 11:07] mosteo commented on #685
There was some discussion about this in #646. We could abandon all "missing/external" distinctions (wrt the users) and simply use "missing" instead.

No matter how we word or segregate it, the telltale is that when the crate is accompanied by a subset dependency instead of a precise version, it's not solved. But of course the first time it may not be evident.

[2021-02-05 11:16] Fabien-Chouteau commented on #685
For me it should be either something like:
[code]
or
[code]

[2021-02-05 11:53] mosteo commented on #685
Not sure how well this mixes with the "missing" flag we already have for truly unknown/unavailable deps. Try for example `alr with hello=5`, and you'll get:
[code]
We currently have these change flags:
- `external` when the dependency is unavailable but external definitions exist.
- `missing` when the crate is unknown (there's an extra warning) or there are no compatible versions.

[2021-02-06 01:04] onox commented on #644
`alr` now looks like this: (added global options)

![20210206_01h57m28s_grim](https://user-images.githubusercontent.com/3361585/107103798-378a0880-681f-11eb-9d0c-8db7b867ef42.png)

[2021-02-06 23:27] mgrojo commented on #644
Note that most Linux commands (GNU style guide?) use this format for short/long options:
[code]

So it might be a good idea to maintain that format. The rest is clearly a perfect enhancement.

[2021-02-06 23:36] mgrojo commented on #644
After a quick review, imperative seems the norm.

[2021-02-06 23:45] mgrojo commented on #607
And `alr --version` should be supported as a synonym. As an example, git supports both styles.

[2021-02-08 12:17] mosteo commented on #607
I'll keep that in mind for when I come around to this one, thanks for the suggestion.

[2021-02-08 18:20] onox commented on #644
Are you referring to the comma? The formatting of the output is inspired by [Poetry](https://python-poetry.org/), a popular package manager for Python.

[2021-02-08 21:10] mgrojo commented on #644
Yes, I was referring to the comma. It seems pretty standard.

[2021-02-15 07:15] mosteo opened #689 "Remove `--prefer-oldest`"
Tweaking the solver makes more sense via config options, to ensure that the behavior is always the same within a workspace. This switch hence should be removed, as it's insufficient to configure the solver anyway, and forgetting it once will result in the solution being upended.

[2021-02-16 14:41] onox commented on #644
Merged in #688

[2021-02-16 14:41] #644 closed, assigned to nobody

[2021-02-22 18:16] #659 closed, assigned to nobody

[2021-02-24 07:00] Patschkowski opened #691 "zlib_ada deployment error"
Hi,

I have added a dependency to my toml on zlib_ada like this

[[depends-on]]
make = "*"
win32ada = ">=21.0"
zlib_ada = ">=1.3"

but then I get a deployment error for this crate. Here is sample debug output. I think the problem is that in the downloaded archive there is no single folder but multiple files.

alr printenv output

-> Config file is not readable or doesn't exist: 'C:\build\alire\ali

[2021-02-24 07:08] Patschkowski opened #692 "Adding msys PATH to Alire Powershell"
Hi,

on Windows Alire uses the msys system. After installation you get a shortcut in the Start Menu to start an Alire instance of Powershell.

I can added dependencies to my toml file like this:

[[depends-on]]
make = "*"

Then Alire will install make from msys for me. But then I can not call make from this Powershell. I guess on Linux that is not an issue because make should be in the PATH anyway

[2021-02-24 09:21] mosteo commented on #691
Indeed, your diagnosis is correct. Thanks for raising the issue.

[2021-02-24 11:54] Patschkowski opened #695 "Win32Ada crate: preprocessor required"
Hi

I have a very simple project trying to use the win32ada crate and I can not build it because the win32ada uses preprocessor stuff. Is this a problem of the crate or do one need to turn on specific options somewhere to compile projects depending on this crate? And if so, how do I do it?

[test_me.zip](https://github.com/alire-project/alire/files/6035710/test_me.zip)

Kind regards,
felix

[2021-02-24 14:26] Fabien-Chouteau commented on #692
Hello @Patschkowski ,

I am not sure we should go that way. Alire is not meant to replace msys2, but rather is using msys2 to provide some additional packages. Also `msys2` is optional, Alire can work without it and users are allowed to reject msys2 installation.

I think the best way for you is either:
 - Add msys2/mingw64 to the PATH in PowerShell if that is what you want
 - Use Alire from the m

[2021-02-24 14:39] #691 closed, assigned to nobody

[2021-02-24 17:20] Fabien-Chouteau commented on #695
Hello @Patschkowski,

It could be that we need a `post-fetch` action to build and install the lib.
For the moment as a workaround it seems like you can add `-gnateDTARGET=Win64` in you Ada compiler switches.

Regards,

[2021-02-24 17:20] #695 closed, assigned to nobody

[2021-02-25 07:42] Patschkowski opened #698 "alr build always builds all targets"
Hi,

we have quite many dlls/exes that we build from our project files. If I currently call `alr build` it will build all of them which will take a lot of time. But I only need to build some of them.

It is already possible to pass scenario variables from `alr build` to gprbuild. So why not pass the targets as well? From gprbuild this was possible, like `gprbuild -P <project> <some_file.adb>`

I c

[2021-02-25 08:23] mosteo commented on #698
Sounds sensible to me. Just to be sure, you mean doing something like:

`alr build <project_file>`,

where the project file is one of the files declared in the manifest of the root crate?

[2021-02-25 08:29] Patschkowski commented on #698
@mosteo I would even like to go one level deeper and say

`alr build [<project_file>] <some_main_file.adb>`

and in "project_file.gpr" it has `for main use ("some_main_file.adb", "another_file.adb")`

so then I will only build some_main_file.exe but not another_file.exe

project_file can even be optional. though, I don't know if alr can inspect all the listed project files in the manifest to find

[2021-02-25 08:34] mosteo commented on #698
It doesn't at present, so that would be a more distant target. But passing the main file along should be no extra trouble.

[2021-02-25 09:35] Fabien-Chouteau commented on #698
We can consider passing all the arguments after `alr build` to `gprbuild`.

[2021-03-05 14:46] #618 closed, assigned to mosteo

[2021-03-08 16:30] mosteo opened #704 "utilada 2.1.0 doesn't build on Windows"
Found during https://github.com/alire-project/alire-index/pull/260/checks?check_run_id=2046843622

[2021-03-09 18:36] #323 closed, assigned to mosteo

[2021-03-10 16:07] onox opened #707 "Build modes"
Would it be possible to build a whole tree of crates with a certain mode? Like `alr build --release` or `alr build --debug`?

Perhaps `alr build` could support a few modes, like release, develop, debug, coverage, profiling?

Some of the modes could enable/disable style checks and/or contract checks.

[2021-03-10 17:25] Fabien-Chouteau commented on #707
Hello @onox,

Right now the question of build mode is highly project specific, there is no standard way to specify that.

[2021-03-10 17:33] MarcusE1W opened #708 "Alire crashes if called outside of home(sub)directory"
Hi.

If I call alire `alr` anywhere outside of my home folders it just crashes. So it works in normal use, but e.g.
[code]
crashes with
[code]

I appreciate that it is not very useful to do this in first place, but alire should probably still not just crash ?

OS: Armbian (Ubuntu ARM) bullseye

[2021-03-10 17:45] Fabien-Chouteau commented on #708
Hello @MarcusE1W

Alire should definitely not crash. Can you tell use which version are you using?

[2021-03-10 17:55] MarcusE1W commented on #708
I knew there was something I wanted to add:
[code]

[2021-03-10 18:24] mosteo commented on #708
#703 should have fixed precisely this case. @MarcusE1W, are you using the latest master code?

[2021-03-10 18:42] onox commented on #43
If I just want to know if `alr build` would work, is this the issue that tracks it? I'm looking to migrate from Shippable to GitHub Actions. Is it possible to support monorepo's that host multiple crates as well?

[2021-03-10 18:55] mosteo commented on #43
I think #161 is the one you want. In fact, this one does not make much sense anymore since we have appimages that serve the same purpose.

At present, these crates would have to be submitted as source archives with only the relevant subfolder contents. Or you could do some trickery with branches to prepare each release; not sure how involved that would get.

[2021-03-10 19:01] mosteo commented on #43
Closing; anyone wanting to play with `alr` can use the prebuilt binaries in every pull request, besides the releases.

[2021-03-11 09:50] MarcusE1W commented on #708
I think I compiled about a week ago.
Let me creat a new alire from today’s code and we see

Edit: actually it says in the version info. Master code from 3rd March

[2021-03-11 11:07] MarcusE1W commented on #708
Ok, I have rebuild alire from today’s master and this error is fixed.
Sorry for the confusion, I was not expecting this to be fixed exactly in the last few days.

[2021-03-11 11:08] #708 closed, assigned to nobody

[2021-03-11 12:02] onox opened #709 "Compilation fails: "prefix of "Image" attribute must be a type""
After git pulling I get the following error when building Alire:

[code]

Git commit: 1be3b21
Compiler: GNAT FSF 7.5

[2021-03-11 12:05] mosteo commented on #708
No problem, just coincidence that I hit the same bug at the same time. Thanks for taking the time to report!

[2021-03-11 12:10] mosteo commented on #709
Could you try to change that `'Image` by an `'Img`?

Out of curiosity, which platform is this?

[2021-03-11 13:09] onox commented on #709
Ubuntu 18.04 LTS. `'Img` works, but I had to fix another compiler warning as well. See PR #710

[2021-03-11 19:09] onox commented on #633
I'm trying to publish over 6 crates for wayland-ada, but I'm stuck at number 2 because alire fails. I've added crate 1 (wayland_ada_scanner) to https://github.com/onox/alire-index and to my local index. Now I'm trying to `alr build -vv -d` crate 2 (wayland_client_ada), which fails:

[code]

What can I do to make alire find the executable?

[2021-03-12 08:09] #709 closed, assigned to nobody

[2021-03-12 08:16] mosteo commented on #633
I guess you know the relative path for `wayland_ada_scanner` within its crate. Then, it's a matter of adding this path (in `wayland_ada_scanner`), e.g.:

[code]

[2021-03-12 09:24] Fabien-Chouteau commented on #633
Except this probably won't work because `wayland_ada_scanner` is not built before the `post-fetch` action of `wayland_client_ada`.

[2021-03-12 09:37] mosteo commented on #633
Ah right. Then for this to work we need the incremental build we have discussed previously (#628).

[2021-03-15 22:10] onox commented on #662
I think the problem here is that `alr` doesn't really support monorepos. I've been playing with Yarn 2's [workspaces](https://yarnpkg.com/features/workspaces/) feature a bit, and it seems how it should work is that each folder (local crate) has an alire.toml file, but there's only 1 alire.lock file (in the root folder of the repo). The root folder also has an `alire.toml` file with an array of glo

[2021-03-16 09:36] mosteo commented on #662
Hi @onox, I just saw your messages in gitter. Indeed, each toml has to have a companion lock. A lock is at present a cached solution for the dependencies in the toml, with optional overrides. But also I think you've stumbled into something we did not yet explore, which is nested pins.

From my reading of the Yarn 2 workspace feature that you provided, local pins should indeed cover your developmen

[2021-03-16 11:16] onox commented on #662
I have 2 monorepos: https://github.com/onox/wayland-ada and https://github.com/onox/orka.

I have put a small Yarn 2 monorepo on GitHub at https://github.com/onox/yarn-monorepo to show how things could work. Crate `bar` has a dependency on `foo` (both `bar` and `foo` are local folders) and `foo` has a dependency on `react` which is in the a remote registry (npm). Both local crates have a special `

[2021-03-17 09:07] kalkin commented on #496
I also would like to specify some dependencies as test only, so the consumer of the library does not need e.g. `aunit`.

[2021-03-22 10:03] mosteo commented on #662
Hi again, @onox. I think I have a good understanding of yarn monorepos now. Thanks a lot for the simple example! At this time I would like to avoid introducing some special monorepo manifests, if we don't really need them. Correct me if I'm wrong, in regard to possible Alire changes:

1. Making pins relative would fix the first issue of people being able to clone the monorepo and using it as is (o

[2021-03-23 14:53] #662 closed, assigned to nobody

[2021-03-25 17:29] #508 closed, assigned to mosteo

[2021-03-26 11:53] mosteo opened #719 "Crash related to unexpected dynamic expression"
[code]

[2021-03-26 23:41] onox opened #721 "Relative dependencies get lost after updating alr"
I just updated alr (from 625c906 to c63615d) and subsequently running `alr build` or `alr update` causes dependecies added with `alr with --use` to go "missing". The `path` and `relative` are removed from the lock file.

For example, running `alr update` in the `orka` crate in my orka repository shows:

[code]

I then need to (recursively) remove each dependency and then re-add with `alr with --us

[2021-03-28 09:56] onox opened #722 "alr run does not accept scenario variables"
`alr run` does not accept scenario variables, even though these might be necessary on some systems to succesfully build.

As a workaround (to fix onox/orka#62) I ran `alr build` with some scenario variables, immediately followed by `alr run -s`. Without the `-s`, `alr run` would still try to build some files (orka-simd-fma-doubles-arithmetic.adb) that cannot be build on older CPUs.

[2021-03-29 10:43] mosteo commented on #721
Yes, that's to be expected with the current approach, in the sense that changes to the lockfile format are breaking in the master branch.

This file should stabilize so this ceases to be a problem, just like for the manifest. Of course that's not much consolation for you at this time. That said, some thoughts about we can do:

1. Stay the course, and make the pins more resilient to changes in form

[2021-03-29 17:13] Fabien-Chouteau commented on #721
Not sure if I understand 1. completely, but it sounds risky. The "rescue" pins part can be a nightmare to support as the format evolve.

One issue with 2. is that we don't want `alr` to edit the manifest automatically (breaks the formatting).
Which means the `alr pin` would have to go. I don't mind it that munch, I see pinning as intermediate/advanced usage so it's ok not to have a command for tha

[2021-03-29 18:08] mosteo commented on #721
@Fabien-Chouteau , yes, exactly.

`alr pin` could remain to generate "frozen" manifests (we still may want this for reproducible builds). Down the road if there's nothing better to do (ha), we could modify the pins via command line just as we edit the manifest for `alr with`. But I agree that that is very low priority.

[2021-04-13 14:55] onox commented on #496
Many package managers allow you to specify a list of "developer dependencies". These are dependencies that are not downloaded and built when the crate is used as a dependency of another crate, but only when performing certain tasks in the project of the crate. These include tools like linters, code formatters, dependencies for tests, etc.

In this case `aunit` should indeed be added to this list o

[2021-04-13 15:28] kalkin commented on #496
@onox Thanks for your reply. I solved it actually the same way you proposed :-).

[2021-04-19 15:10] mosteo opened #724 "Use release proxies in lockfile instead of full releases"
Currently we store the full release definition in the lockfile, which is overkill. We can store a proxy (`Alire.Releases.Proxies`) which is essentially its version and origin. This is enough to reproduce a build and locate the original release during lockfile load.

Ideally, we should be able to load old format (full release) and new format (proxy) to avoid discarding current lockfiles.

[2021-04-19 15:22] mosteo commented on #496
@onox , IIUC, this could go hand in hand with customizable user tasks? Something like:

[code]

and then you issue `alr task prove` or `alr task unit-testing`, etc? Overkill?

[2021-04-19 17:02] onox commented on #496
Customizable user tasks are definitely useful, but I'm not sure about specifying the dependencies per task :thinking: Other package managers like poetry, cargo, yarn/npm seem to allow you to specify just 1 list called `dev-dependencies`. It could work exactly like `[[depends-on]]`, supporting `'case(os)'`, etc.

Would it make sense to have something like `[dev-depends-on.'case(task).A|B']` so you

[2021-04-19 17:48] onox opened #725 "Download dependencies with alr install"
A command like `install` could download dependencies.

Optional:
It would be even better to store everything as 1 archive file (zip, tgz, etc.) per dependency (instead of having tens/hundreds of files per dependency). This would give benefits like:

- Less disk space for large projects with many dependencies
- You can commit the dependencies (the archives) to version control so you don't need an i

[2021-04-20 10:53] mosteo commented on #496
Thanks for the feedback, onox. Just exploring ideas for now. My concern is that some task my have a "scarce" dependency that might raise the entry cost for other would-be developers.

[2021-04-20 11:07] mosteo commented on #725
Could this be an option to `get`? `alr get --dependencies`. Just as now `alr get --only` does the complementary.

I'm not sure I fully grasp the other points. Reading the Yarn 2 PnP, it seems more integrated in the sense that: would these archives be automatically used in place of remote dependencies?

We have some plans for a possible `alr install` (#482, #625) that might do some of these things.

[2021-04-20 14:49] kalkin commented on #496
@mosteo IMHO a complicated `[dev-depends-on.'case…` syntax may scare developers away. :see_no_evil:

[2021-04-20 23:26] onox commented on #496
I meant this as a possibility for the developer to be more specific. If the developer doesn't mind to put everything in one list, then just `[[dev-depends-on]]` can be used.

[2021-04-20 23:37] onox commented on #725
I think it could be an option to `get`. Most package managers have a separate command for this though. Poetry and Yarn/NPM uses `install`. Cargo uses `fetch` (it also automatically fetches dependencies during `build` of course).

Do you mean things like this?

[code]

I guess it would download a .zip of the specified commit. The user then `git add` it so that it will always be available to anyone

[2021-04-21 16:19] mosteo commented on #725
I find using "install" to download something that's in essence a tarball of sources to be used manually counterintuitive.

So `cargo fetch` only makes sense in the context of a crate. `alr get` is the opposite, and that's not what you are requesting anyway as I see from your last description. I guess we could settle for fetch too, but I'd prefer something that conveys the idea of dependencies. I'm

[2021-04-21 22:22] onox commented on #725
I agree.

So that is some folder that could be in `$PATH` if I understand you correctly? What if the user wants to install some game? Do you intend for alr to support a usecase like `alr install eagle_lander`? (instead of requiring the user to do `alr get -b` + `cd` + `alr run`) or would alr require the project to bundle it with AppImage/Flatpak/snap/deb/rpm? That would be a bit cumbersome for sma

[2021-04-22 08:57] mosteo commented on #725
I see `alr get` staying as a way to retrieve a crate in its own sandbox, to experiment with it or to build its executables. `alr install` would essentially be the equivalent of `cargo install`, in which you want to deploy something in a known shared location (but still not in the path by default).

[2021-04-25 10:24] RajaSrinivasan opened #726 "tar command failed"
Environment: Windows

Using git bash

I executed bin/alr printenv
and answered yes to installing msys2

Warning: tar failed: Command ["tar", "-x", "-f", "C:\Users\RajaS\Projects\alire\alire\cache\dependencies\ada_toml_0.1.0_2235adad\v0.1.tar.gz"] exited with code 128 and output: /usr/bin/tar: Cannot connect to C: resolve failed
ERROR: Deployment of source archive v0.1.tar.gz at https://github.com/

[2021-04-26 07:59] Fabien-Chouteau commented on #726
Hello @RajaSrinivasan ,
Tar is a little bit of an issue on Windows unfortunately. I think that tar from git bash is used here and it doesn't work the same as the one provided in msys2.

Which version of Alire are you using (`$alr version`)?

[2021-04-26 08:15] Fabien-Chouteau commented on #496
I am a bit scared of the complexity that will bring customizable user tasks.
For the moment I am more in favor of having a command to run programs in the Alire context (e.g. `$ alr exec "gnatprove ..."`).

That being said, SPARK might deserve its own `$ alr prove` command.

For `[[dev-depends-on]]`, I think it makes sense. How Alire will know whether to get the dev depends or not?

For `alr test`,

[2021-04-26 08:45] mosteo commented on #496
If there are new user-task oriented commands, be it `exec`, `task`, these would require the extra dependencies and use the corresponding environment.

If we eventually do user-defined tasks, one possibility is that `alr build`, `alr prove`, `alr test` can be defaults in absence of corresponding user-defined tasks (that is, `alr prove` = `alr task prove` when defined, for example).

This is correct

[2021-04-26 11:02] RajaSrinivasan commented on #726
Hi Fabien - here is the output.

Alr version: 1.1.0-dev+0f603c29
Alire Library version: 1.1.0-dev+0f603c29
alr status is (valid) (0 releases indexed) (loaded in 0.713s)
config folder is C:\Users\RajaS\.config\alire
source folder is C:\Users\RajaS\.config\alire\alire
interaction flags are: force:FALSE not-interactive:FALSE
alr root is empty
alr root detection has settled on path: C:\Users\RajaS\Pro

[2021-04-26 15:25] onox commented on #496
This makes sense to me. Let all these internal Alire commands that are of no interest to the end user be hidden behind a reserved command like `alr dev`.

For the moment I am more in favor of having a command to run programs in the Alire context (e.g. $ alr exec "gnatprove ...").

This basically requires providing precise instructions in a README.md or the use of a `Makefile`. Shouldn't proving (o

[2021-04-27 13:14] mosteo opened #727 "Encoding problem in Windows 10"
Reported by Henrik Hârkônen on gitter:

[2021-04-27 15:33] heharkon commented on #727
Here's the "alr -vv -d edit" command's output trace and config.toml from my @HOMEDIR\.config\alire\ folder.

[investigation_data.zip](https://github.com/alire-project/alire/files/6385771/investigation_data.zip)

[2021-04-27 15:39] mosteo commented on #727
Thanks, @heharkon.

[2021-04-27 18:17] bmilanov commented on #496
I believe that having an "alr prove" command would be nice. First, I can't think of any clashing functionality. Second, this can be used to advertise a tool that might benefit projects that are not committed to 100% proof. Is it possible for gnatprove to bring value to non-SPARK projects with some of its more lightweight checks?

[2021-04-28 08:48] Fabien-Chouteau commented on #726
Thank you @RajaSrinivasan,

Can you please try again the command that fails but with the `-vv -d` options: `alr -vv -d printenv`?

[2021-04-29 09:20] mosteo opened #728 "[RFC] Compilers, cross-compilers, dependencies"
This is just a bit of a musing, to see it can go anywhere. In the context of #723 and crates requiring different compilers (native, cross-compilers), I wonder if an old feature that is lurking unused could come in handy, which is the "equivalent" crates (the "provides" alias of a release).

So, let's assume a dependency A requires a modern GNAT version. This is currently expressed for example as `

[2021-04-30 16:59] RajaSrinivasan commented on #726
Using -d -vv is rather verbose. captured the tail end. it would appear that this time, it was successful.

Anything else i can check. i am interested in some GNATCOLL packages and some aws packages, i will let you know if there are issues.

thanks, srini

-> Using default value for configuration 'update-manually-only': 'FALSE'
-->> Workspace is being checked and loaded for the first time
-->> Look

[2021-05-03 09:53] simonjwright opened #729 "v1.0.0 build failure with FSF GCC 11.1.0"
The build generates a lot of warnings! But also some errors.

This in `alire-conditional_trees.ads`,
[code]
This could well be a compiler issue, of course.

Likewise in `alire-dependencies-states.adb`,
[code]

Also, more definitely a problem,
[code]
the first of which is
[code]
(`Replacer` is declared `constant`)

[2021-05-03 14:25] mosteo commented on #729
Thanks for the early warning!

[2021-05-03 14:44] simonjwright commented on #729
I’m now pretty sure the `too short lived` problem is a compiler bug. Not so sure about the `Replacer` one, though.

[2021-05-03 14:51] mosteo commented on #729
To be frank, I'm always a bit uneasy when messing with references and their pointers. But in that particular case it seems to be returning a copy of the pointee, right?

[2021-05-04 08:16] bmilanov opened #730 "Autogenerated GPR project from "alr init --in-place --lib" places all libs in one obj folder"
Running a:

[code]

generates the following:

[code]

The GNAT Project Manager Reference Manual [1] has this to say when we want to
build multiple library types ("relocatable", "static", "static-pic") in one
place:

two different object directories, since in some cases some extra code needs to
be generated for the latter. For such cases, one can either define two different
project files, or a sing

[2021-05-06 20:10] simonjwright commented on #729
On [c.l.a](https://groups.google.com/g/comp.lang.ada/c/7dw7Oqi8lIk/m/t6UJkTIHDQAJ), Randy said

[2021-05-07 07:47] mosteo commented on #729
Thanks a lot for the research, Simon. That thread on c.l.a. is heavy stuff.

I'm using aliased, as Randy says, because I like to explicitly mark as so things were I'm going to take an access. Anyway, I think this is the key:

answer is to replace function Constant_Reference with function Element.

We might live for the time being with making that copy, and worrying about optimization later. The ac

[2021-05-08 17:03] simonjwright commented on #729
I said at the top that

mainly for packages withed but not used, or the with being movable to the body.

This wouldn’t be an issue except that the Debug builds use `-gnatwe`!

If you’re interested I could pursue this?

[2021-05-09 18:59] mosteo opened #732 "`alr init` inside a crate folder creates the new crate below root of crate"
When we detect `alr` being run inside a crate, we relocate to its root so all files are at expected relative paths. However, if we are running `alr init foo` in e.g. `${CRATE_ROOT}/deps`, we end with `${CRATE_ROOT}/foo` instead of the expected `${CRATE_ROOT}/deps/foo`. Furthermore this is not immediately evident, as it seems the command has had no effect.

[2021-05-10 09:06] mosteo commented on #729
Sorry, I missed it in the original post. Sure, thanks for your involvement.

[2021-05-10 13:39] mosteo commented on #730
It seems sensible to follow the manual and I don't think it has any impact on our builds. Thanks for raising the issue.

[2021-05-10 15:01] mosteo opened #733 "Fast syntactic check"
Using `gprbuild -U -cargs:ada -gnats` it seems we can achieve a fast first syntactic pass. Could be the basis for an `alr check` a la `cargo check` (though the latter only omits code generation).

[2021-05-11 13:55] Fabien-Chouteau commented on #726
I am sorry `printenv` doesn't use the tar. What command did you use in the first place?

[2021-05-15 09:50] mosteo opened #736 "Automatic update is needed after pinning to a remote"
Currently, we solve and then fetch pins. However, these pins may introduce new dependencies, which aren't known until they're downloaded, which in turn require (currently) a new manual update. We must automate the recursive discovery of all needed dependencies.

[2021-05-18 09:39] mosteo opened #737 "Several crates per repository (monorepos)"
I'm creating this issue to track this idea which keeps popping up so interested parties can track it / chime in with comments.

For the sake of clarity: a [monorepo](https://en.wikipedia.org/wiki/Monorepo) is a repo that contains several crates, usually related to each other. I'll call a *subcrate* each crate within a monorepo.

The issue is that, for convenience or other reasons, some people keep

[2021-05-18 10:48] mosteo opened #738 "Tags page in the website"
Having a tag list/cloud could be a nice visual addition. Although tags already are searchable and navigable from another crate, this might raise awareness about existing tags.

[2021-05-19 14:48] rveenker opened #739 "Check_Absolute_Path should also check for lowercase drive letters"
Under Windows the drive letter can be uppercase or lowercase.

[2021-05-20 08:12] mosteo commented on #739
Thanks for the report, @rveenker. I just merged the fix.

[2021-05-20 08:12] #739 closed, assigned to nobody

[2021-06-04 11:03] RajaSrinivasan opened #745 "zipada build failures"
This may not be the right forum to report issues with crates in alire. But I have an issue with zipada. Is there an easy way to go from alire to the website related to the crate - zipada in this case:

gprbuild -d -PC:\Users\RajaS\Projects\zipada_56.0.1_bec2ed6c\zipada.gpr -p
Setup
   [mkdir]        object directory for project ZipAda
Compile
   [Ada]          zipada.adb
   [Ada]          unzipada

[2021-06-04 11:04] RajaSrinivasan commented on #726
Seems like the issue resolved itself. I wish I knew how.

[2021-06-04 11:04] #726 closed, assigned to nobody

[2021-06-04 16:42] mosteo commented on #745
Hello @RajaSrinivasan,

Yes, this is the proper place to report an issue with a crate. As for the website, you can see all information about a crate with `alr show`. I see in this case there's no information about it.

I think this is the one though: https://github.com/zertovitch/zip-ada

As for the errors themselves, which compiler version are you using?

[2021-06-05 07:41] RajaSrinivasan commented on #745
GNAT Studio Community 2020 (20200427) hosted on x86_64-pc-mingw32
GNAT Community 2020 (20200429-93) targetting x86_64-pc-mingw32
SPARK Community 2020 (20200429)

[2021-06-05 07:46] RajaSrinivasan commented on #745
When I clone https://github.com/zertovitch/zip-ada

The builds are successful

[2021-06-09 14:19] mosteo commented on #745
My guess then is that the version in alire is older and lacking the fixes in the repo. I'll check and make a new release.

[2021-06-10 06:48] mosteo commented on #745
Should be fixed after https://github.com/alire-project/alire-index/pull/285

[2021-06-10 06:48] #745 closed, assigned to nobody

[2021-06-11 04:22] pyjarrett opened #747 "database file for <dependency> does not exist ... could not find database"
Windows 10 Pro, running as a standard user.
Running Stock Alire: 1.0.0

[code]

I fixed this directly via mingw but Alire should probably handle this itself:

[code]

[2021-06-14 08:13] Fabien-Chouteau commented on #747
Hello @pyjarrett,

That's an interesting issue. Do you think that Alire should do `pacman -Sy` before trying to install stuff?

[2021-06-14 09:54] mosteo commented on #747
Might it be a matter of adding the `y` here?: https://github.com/alire-project/alire/blob/63552b250f08b627b39470fe44141c7375b5d1f2/src/alire/alire-origins-deployers-system-pacman.adb#L115

[2021-06-14 16:49] Fabien-Chouteau commented on #747
Indeed.

[2021-06-15 00:58] pyjarrett commented on #747
I'm not super familiar with `pacman` which is why I figured I'd post what I saw and not give a specific recommendation.  Reading up on it now, it sounds like using `-Sy` with a specific package may lead to later breakages and the "right" way to handle this is through a system-wide update with `pacman -Syu`.

The failure case should definitely be communicated better.  The question is really, "Shoul

[2021-06-15 08:22] mosteo commented on #747
I don't think either that we should be making system-wide upgrades. My comment was under the assumption that `-Sy` would be equivalent to `apt update && apt install <pkg>`. The latter is understood to be safe in my experience.

I have been a user of Arch only many years ago so I lost my familiarity with it. Indeed I read now that partial upgrades (`-Sy`) are unsupported: https://wiki.archlinux.org

[2021-06-16 12:57] Fabien-Chouteau commented on #747
@pmderodat maybe you have an opinion on this.

[2021-06-17 15:50] pmderodat commented on #747
Hello! I’m a very basic user of pacman, so I don’t understand in the first place how it is possible to get the original error (`database file for 'X' does not exist`). I knew that partial upgrades were unsafe, and I definitely agree that Alire shouldn’t try to do system upgrades, at least on its own… Maybe worth discussing with pacman developers?

[2021-06-18 20:20] jquorning opened #750 "Candidate system package count wrong"
When showing some external crates like `make`, the candidate system package count looks wrong:
[code]
Same for `ncursesada` for comparison:
[code]

[2021-06-19 14:47] pyjarrett commented on #727
I think it depends on region, but UTF-8 support on Windows is still in beta, but can be enabled.  I don't have this enabled and it defaults to IBM437 as described in [a progress_indicators ticket](https://github.com/pyjarrett/progress_indicators/issues/2).  I suspect the console input needs to be set with `SetConsoleCP` to an more appropriate code page (like CP_UTF8).  @heharkon , what does `chcp`

[2021-06-19 18:09] heharkon commented on #727
Hi!

It says:

C:\Users\hehar>chcp
Active code page: 850

[2021-06-20 11:05] mosteo opened #752 "Detect changes in manifests from linked dependencies"
We currently only automatically detect editions to our own manifest. If the manifest of a linked crate is edited, we aren't aware, requiring the user to run an `alr update` after such an edition.

We may want to recursively check manifest timestamps of linked crates to detect changes in these manifests and re-resolve. This will require to store the timestamps of linked crate manifests in our lockf

[2021-06-20 11:12] mosteo opened #753 "Show pins without explicit dependency in graphs"
It is currently possible to have a pin without a corresponding dependency, to simplify manifest edition. These crates are considered implicit dependencies for the solver, and show as such in `alr with --solve`. However, they are not considered by other informative commands like `with --graph`, `with --tree`, or simply `with`, because these rely exclusively on explicit dependencies returned by `Rel

[2021-06-21 07:03] mosteo commented on #750
Yes, it's counting every known package in every known platform. It's not really intuitive. I guess we could count all the different package names in any platform?

[2021-06-28 15:29] mosteo commented on #666
Merged with #552

[2021-06-28 15:29] #666 closed, assigned to nobody

[2021-06-28 15:43] #721 closed, assigned to nobody

[2021-06-28 15:43] #736 closed, assigned to mosteo

[2021-06-29 11:25] onox commented on #737
@mosteo I've a small problem with the pin circularity detection (using af2bead of alire): in the orka crate I get this error:

[code]

orka_transforms depends on orka_simd (and therefore orka_transforms/alire.toml has a pin on orka_simd), and orka itself directly depends on both orka_transforms and orka_simd. In orka/alire.toml file I have a pin to orka_simd and orka_transform. So there are no act

[2021-06-29 11:50] mosteo commented on #737
@onox, thanks for the report, that is certainly not intended.

[2021-07-02 20:01] onox opened #769 "Alire builds crate that is not available on current OS"
My orka_egl crate's alire.toml file contains:

[code]

Yet, it happily runs `alr build` on windows-latest (with ce2021 compiler) during GitHub Actions. It compiles with no errors, but then fails with `ld.exe: cannot find -lEGL` (which is why the crate is not available on windows).

Shouldn't alr just do nothing if `available.'case(os)'` says it's not available?

[2021-07-03 07:26] mosteo commented on #769
Hi onox. Crates are usually properly skipped when they're unavailable in a OS. Do you have a GHA run where I can check more details?

[2021-07-03 12:29] onox commented on #769
This is the GHA run with the problem: https://github.com/onox/orka/runs/2975156460?check_suite_focus=true

[2021-07-05 08:11] mosteo commented on #769
Alright, I understand. I was for some reason thinking that this was happening in our crate tests for the index.

Indeed you're right that we should at least show a warning or recoverable error in this case. Although the crate is unavailable, since the user is commanding the build I guess we should do something and not merely silently succeed doing nothing. It is counterintuitive to me that a build

[2021-07-05 16:19] pmunts opened #770 "Cross build fails, bad parameter to ar command"
I routinely do cross-builds with `gprbuild` by simply copying an appropriate `.cgpr` file for the cross-toolchain to the project directory.  When I tried this with `alr build`, the compilations succeed but gprlib fails, apparently passing an invalid parameter to the cross-toolchain `ar` command.

[build.log](https://github.com/alire-project/alire/files/6765445/build.log)

The build process fails a

[2021-07-05 17:02] onox commented on #769
`--skip-unavailable` would work for me.

Would it help to only allow it to be used for the current crate and not for any dependencies that happen to be unavailable? If you command crate A to build, but it has a dependency B that is unavailable for some reason, crate A's alire.toml file should simply not depend on B in that case.

[2021-07-06 08:00] mosteo commented on #769
I was thinking only about the root crate, for the reason you state.

[2021-07-09 09:25] shiz01 commented on #625
Yes, it's very convenient. I used this functionality in rustup, a tool for installing the rust toolchain.
Distribution format? I think the prebuild toolchain will be the most convenient for new users. Then can add an assembly from the source code.

Add support installation in a local directory without root privileges:
`${HOME}/.alr/toolchain/gnat-${ARCH}-${KERNEL}-${OS}/${version}`
`${HOME}/.alr/t

[2021-07-12 00:24] octonion opened #771 "Dependencies libgpr, gnatcoll_gmp error while building"
The following
[code]
fails with numerous errors similar to `gpr.adb:1757:13: error: ambiguous expression (cannot resolve "To_Lower")`. Likewise, the dependency `gnatcoll_gmp` will exhibit errors while building.

This is on Linux Ubuntu 20.04, GNAT 2021 community (but same error with GNAT-9 installed via `apt-get`). I've attached my alire.toml and alire.lock files.
[toml.zip](https://github.com/ali

[2021-07-12 07:43] mosteo commented on #771
Thanks for the report, @octonion . I'll look into it.

[2021-07-12 07:59] mosteo commented on #770
Hello, @pmunts. Unfortunately I have no experience about your issue. Maybe @Fabien-Chouteau is able to help.

FYI, in the near future we expect to offer compilers (both native and cross-target) through Alire.

[2021-07-17 13:09] mgrojo opened #772 "Invalid reference to `alr list` in Getting Started document"
In `doc/getting-started.md`, which I presume is the source of https://alire.ada.dev/docs/#finding-available-projects, there is an incorrect reference to a no longer valid command v1.0: `alr list`.

According to PR #671, it was removed in v1.0.

[2021-07-20 14:51] mosteo commented on #772
Thanks for the report, Manuel. Fixed in https://github.com/alire-project/alire/pull/773.

[2021-07-20 14:51] #772 closed, assigned to nobody

[2021-07-20 15:41] Fabien-Chouteau commented on #771
This is a run-time incompatibility with the GNAT 2021 release, the package `GNAT.Case_Utils` has new functions that conflicts with `Ada.Characters.Handling`. This was fixed in the gprbuild/libgpr repo: https://github.com/AdaCore/gprbuild/commit/d80333875c76f16623bfc0c3d1c2c6f1987993fe#diff-94a9fa9c99dfbf54eb4a3a0773213e4e321faa2056a89427a5d9a9018a3794fd

[2021-07-20 16:58] Fabien-Chouteau commented on #496
Which can be even more useful with an `alias` feature a la Cargo: https://doc.rust-lang.org/cargo/reference/config.html#alias
and some default aliases, e.g.:
[code]

[2021-07-21 08:17] Fabien-Chouteau commented on #625
@shiz01 right now the plan is to have the toolchains almost exactly like regular crates. Which means there won't be any special commands to declare a dependency and install the toolchain. For example:
[code]

[2021-07-21 08:25] Fabien-Chouteau commented on #770
@pmunts you are not supposed to copy the .cgpr files around. The only thing you should have to do is change the `for Target use "";` attribute in the `.gpr` file.

[2021-07-21 10:32] jklmnn opened #774 "Alire does not print a proper error message when run is not called from a alire directory"
I just tried to download and run `hello` and did so without switching to the hello directory before calling `alr run`. This got me the following error:
[code]

[2021-07-21 10:46] mosteo commented on #774
I seem to remember this was fixed but I cannot locate the precise PR. Also, I can't reproduce it building from `master` so I'm going to provisionally close the report. Thanks nonetheless (and feel free to reopen if you can reproduce it using master).

[code]

[2021-07-21 10:46] #774 closed, assigned to nobody

[2021-07-21 19:31] pmunts commented on #770
The reason I have to copy .cgpr files around is because in the cross-toolchain world, gprbuild is often unable to determine which toolchain to use otherwise.  For example, cross-toolchains for the BeagleBone and Raspberry Pi 2 boards both have the same ARMv7 compiler triplet designator: "arm-linux-gnueabihf".  Their instruction set architectures are very similar but not identical, so I have to mai

[2021-07-22 09:19] mosteo commented on #771
Will this problem persist with the new bundled compilers?

[2021-07-22 09:25] mosteo commented on #770
@Fabien-Chouteau , in regard to the new bundled compilers, and in view of what @pmunts says in his previous post: I am using a crate per target, which right now means we have `gnat_riscv` and `gnat_arm`. But maybe we will need more granularity? Or are these compilers able to emit for various targets depending on the project file in use?

[2021-07-23 13:29] Fabien-Chouteau commented on #771
No, I checked and libgpr compiles fine with GNAT FSF 10.

[2021-07-23 13:38] Fabien-Chouteau commented on #770
In that case I recommend installing both compiler in separate directories and using the PATH env variable to control which one yo use.

Where do you get your gprbuild and toolchains from?

Are you using the `for Target use "X";` attribute in your project file?

[2021-07-23 15:52] pmunts commented on #770
I am using the Debian Buster native `gprbuild`.

For embedded ARM Linux targets, I use cross-toolchains I built myself, either using Crosstool-NC, or Linaro `abe`.  Neither of these include `gprbuild`.

You can examine one of my typical project directories at: [https://github.com/pmunts/libsimpleio/tree/master/ada/programs](https://github.com/pmunts/libsimpleio/tree/master/ada/programs).

I don't

[2021-07-25 23:26] pmunts commented on #770
Never mind.  I fixed my problem by regenerating all of my `.cgpr` files using `gprconfig` from GNAT Community 2021.  Copying one of my custom cross-toolchain `.cgpr` files to `default.cgpr` now results in a successful cross-build.

Running `strace` on `alr build` revealed some things that needed to be updated and/or fixed in the `.cgpr` files.

[2021-07-26 08:16] mosteo commented on #770
Closing then.

[2021-07-26 08:16] #770 closed, assigned to nobody

[2021-07-28 08:33] mosteo opened #776 "Update Policies document about test crates, demo crates, etc"
We can expand a bit on policies for submissions. A few issues that arose recently:

- [ ] Test crates that should not be submitted
   - [ ] But demos/examples are nice to have as a dependent
- [ ] Like `ada_*` is discouraged, `lib*` too (unless this is an external wrapper for a system lib, or it is a long-established name for the project).

[2021-08-03 11:07] mosteo opened #778 "Update recommendation about alire.lock versioning"
https://github.com/alire-project/alire-index/pull/307#issuecomment-891647925

[2021-08-11 22:56] pyjarrett opened #783 "<project>_config.gpr : warning, no sources of language "Ada" in this project"
I received an unexpected warning due to an empty `<project>_config.gpr` file.

## Reproduction Steps

[code]

## Short Error

[code]

## Full Output

[code]

[code]

I'm not sure what Alire's plan is for this GPR file.

[2021-08-12 09:19] Fabien-Chouteau commented on #783
This is where the [crate configuration](https://github.com/alire-project/alire/blob/master/doc/catalog-format-spec.md#using-crate-configuration) and [auto gpr with](https://github.com/alire-project/alire/blob/master/doc/user-changes.md#automatic-gpr-with-now-in-crate-configuration) generate gpr code.

The project should be abstract and you won't see the error anymore. Fix here -> https://github.co

[2021-08-14 03:08] pmunts opened #786 "config.toml and indexes/ in two different places"
On Debian 10 (Buster) Linux, the alr command seems to put config.toml and indexes/ in ~/.config/ sometimes and ~/.config/alire/ othertimes.

I can't reproduce this consistently, but it happens occasionally on all my development machines, ranging from Debian on a real machine, in WSL1, and in a ChromeOS Crostini VM.  I am using a local index checkout for testing my own crates, and I generally notic

[2021-08-14 18:53] 1ma commented on #771
I'm hitting the same problem. Would it be possible to release a new version of the crate?

[2021-08-16 08:17] Fabien-Chouteau commented on #771
There are no new major releases available for those projects. The only solution so far is to use an older compiler (e.g. GNAT Community 2020).

[2021-08-17 10:39] mosteo commented on #783
Fixed by #785

[2021-08-17 10:39] #783 closed, assigned to nobody

[2021-08-17 10:52] mosteo commented on #786
I suspect this will depend on `XDG_CONFIG_HOME` being defined.

This is still a bug because, when defined, the alire config path should be `$XDG_CONFIG_HOME/alire` and not just `$XDG_CONFIG_HOME`, as we are using now.

[2021-08-18 21:54] 1ma opened #790 "v1.1.0-rc1 build failure with FSF GNAT 7.5.0"
[code]

The readme states that Alire needs an Ada 2012 compiler, and clarifies that in practice this means FSF GCC 7.2 onwards. Ubuntu 18.04 ships with FSF GCC 7.5.0 and its toolchain fails to build v1.1.0-rc1. It successfully builds Alire v1.0.1 though.

I've also tested FSF GCC 9.3.0 (Ubuntu 20.04) and GCC 10.3.0 (Ubuntu 21.04) and these build v1.1.0-rc1 fine. I guess it's either a case of tweak

[2021-08-18 22:03] 1ma opened #791 "Proposal: distribute FSF SPARK with alr toolchain"
FSF SPARK is very difficult to build from source or obtain otherwise. I think it'd be very useful to be able to get it with the new `alr toolchain` command, just as it is also possible to get a recent `gprbuild` executable.

Side note: SPARK is actually a bunch of executables: `gnatprove`, `gnat2why`, `why3`, `cvc4`, `z3`, `alt-ergo` and others.

[2021-08-18 22:45] 1ma opened #792 "v1.1.0-rc1 alr toolchain issues"
Summary (by @mosteo):
- [x] Disable assistant (`alr toolchain --disable-assistant`) (#803)
- [x] Non-interactive selector (`alr toolchain --select <release>`) (#804)
- [x] `gprbuild` missing external
- [ ] Static linking

Original post follows.

### unrelated commands such as `alr clean` spawn an interactive prompt to set up the toolchain

[code]
Taken from https://gitlab.com/1ma/radatracer/-/jobs

[2021-08-19 07:03] onox opened #794 "Inconsistency in usage of --list for toolchain and index commands"
Running `alr toolchain` lists installed toolchains (I kinda like that), but to get a list of indexes I have to use `alr index --list`. Would it be nicer to remove `--list` and be able to do just `alr index` to get a list?

[2021-08-19 07:04] mosteo commented on #790
Thanks for the report, Marcel. Although the fix is simple in this case, the intention is to support the latest stable OS releases (Debian, Ubuntu, etc) onwards, so I'll tweak the readme too.

[2021-08-19 07:09] onox opened #795 "Program_Error raised when searching for an existing crate"
Running `alr search canberra` (could be the name of any crate that exists in the index) raises a Program_Error:

[code]

Using Alr 1.1.0-dev+local-toolchain (PR #793) and index devel-1.1.

[2021-08-19 07:17] mosteo commented on #792
Thanks for the detailed report, Marcel.

Although I see your point, `alr clean` requires a `gprclean`, so the compiler should be configured to run it. In practice, the assistant is being triggered by any command that requires an `alire.toml`. (Also, why not `alr update` instead of `clean`?)

@Fabien-Chouteau , I'm inclined to disabling the autorun of the assistant, and point to it in the error mes

[2021-08-19 07:30] mosteo commented on #794
Yes, given that `alr index` currently does nothing... Also it would match `alr with` and `alr pin`.

[2021-08-19 07:36] mosteo commented on #795
Cannot reproduce over here, so I guess this is a problem with the containers provided by GNAT 7.5. You said you were on LTS 18.04, right? I'll see if there is a simple workaround for that...

[2021-08-19 07:37] onox commented on #795
Yes, Ubuntu 18.04.5 LTS.

[2021-08-19 07:41] Fabien-Chouteau commented on #791
Hello @1ma,

This does make sens and we already are considering it. On the other hand we might just get a SPARK release from AdaCore.

Note that the same question exists for GNAT Studio.

[2021-08-19 07:44] #778 closed, assigned to nobody

[2021-08-19 07:45] simonjwright opened #796 "Alr 1.1.0-rc1, macOS, Big Sur issues: Quarantine and Outdated custom indexes cause misleading advice"
Summary (by Álex):
- [ ] Executable must be put out of quarantine manually.
- [x] Outdated custom indexes trigger useless advice (#809).

Original post follows.

Some installation problems ..
[code]
... because it’s quarantined
[code]
... quarantine removed
[code]
... as instructed
[code]
... as instructed
[code]
----
Moved the old `~/.config/alire`; now all looks good.

[2021-08-19 07:45] #790 closed, assigned to nobody

[2021-08-19 07:48] Fabien-Chouteau commented on #792
I don't know, the assistant is great for beginner and will save a lot of troubles.
It should show up only once, although it could still be an issue for continuous integration runs.

[2021-08-19 07:50] Fabien-Chouteau commented on #792
@1ma

[...]

Do you have the same problem with GNAT Community 2021? Do you know how to build gcc in a compatible way?

[2021-08-19 07:55] mosteo commented on #796
Hi Simon, did you have another index configured besides the community one? It seems so given the path. So the problem here would be that we are not checking which index is the problematic one and always output that generic recovery message.

[2021-08-19 07:58] mosteo commented on #792
I faced the same problem for our tests, but I knew how to bypass it using `alr config`. Perhaps we can simple have an `alr toolchain --disable-assistant`. That, plus being able to select compilers with the `alr toolchain --select <release>`, would allow to configure alire for headless tests without needing to know about internals.

[2021-08-19 08:06] simonjwright commented on #796
I had an old local index, priority 4, and the just-installed community index, priority 3.

[2021-08-19 09:11] mosteo commented on #796
Thanks, I guess that's it. I will rename this issue to reflect the root of the problem.

[2021-08-19 10:35] simonjwright commented on #796
The com.apple.quarantine issue might deserve a note somewhere?

[2021-08-19 10:46] mosteo commented on #796
Sorry, you're right. I'm out of touch with macOS daily use; this means that the executable we generate must always be put out of quarantine to be used?

[2021-08-19 11:27] simonjwright commented on #796
I never saw the quarantine thing until Big Sur (and I think it may have been recent).

I’ve been making Installer-compatible packages recently, they don’t seem to need adjusting the installed binaries - though you have to do a little dance to open the package itself:

[2021-08-19 12:37] Fabien-Chouteau commented on #792
Will the assistant take a good default toolchain when in non-interactive mode?

[2021-08-19 16:55] mosteo commented on #792
The default option ATM is the newest native compiler from the index.

[2021-08-20 04:03] pyjarrett opened #800 "Report paths for toolchains"
## Problem

Paths to toolchains need to be added to `$PATH` for some integrations (e.g. Ada Visual Studio Code plugin).

## Possible solution

Maybe a `--paths` or `--show` option for `alr toolchain` which would list the path to the `bin/` of the toolchain.

[2021-08-20 07:50] Fabien-Chouteau commented on #800
If you run `alr printenv` all the paths to the toolchain should be there.

[2021-08-20 08:13] Fabien-Chouteau commented on #792
So everything should be fine in non-interactive mode.

[2021-08-20 08:22] mosteo commented on #792
I think so. If you run `alr toolchain --select` non-interactive it will install the packaged compiler. If you don't want that then run `alr toolchain --select <whatever>` (TBD) to select another, or `alr toolchain --disable-assistant` (also TBD) to stay unconfigured.

[2021-08-20 08:54] #800 closed, assigned to nobody

[2021-08-20 18:31] 1ma commented on #792
Yes.

[code]

Not readily, but I'm looking into it. Rich Felker (musl author) has a project for building musl-targeting cross-compilers: https://github.com/richfelker/musl-cross-make
[Ada is not officially supported](https://github.com/richfelker/musl-cross-make/blob/3398364d6e3251cd097024182a8cb9f667c23bda/config.mak.dist#L76) but with a couple patches that I fished from [Alpine Linux](https://gi

[2021-08-20 19:46] 1ma opened #802 "v1.1.0-rc1 alr toolchain looses sight of external GNAT after evaluating alr printenv"
[code]

I understand why this is happening, but gnat_external should probably still be 9.3.0 from /usr/bin/gnat
GPRBuild must be having the same problem.

[2021-08-20 20:09] mosteo commented on #802
Ha, interesting. This one is going to be a head scratcher to solve, I can feel it.

[2021-08-21 23:59] 1ma commented on #792
The following Dockerfile shows how to build a static GCC 9.4.0<sup>1</sup> targeting x86_64-linux-musl. I've been able to build XmlAda, GPRBuild, GNATColl, Alire and my own projects with this toolchain.

I've also taken a cursory look at [GNAT-FSF-builds](https://github.com/alire-project/GNAT-FSF-builds) but I can't figure out how it ticks. If you want to build this image and test it yourselves: `

[2021-08-23 11:57] Fabien-Chouteau commented on #802
`gnat-external` means "any compiler in PATH" so when you eval `alr printenv` it's normal that the new detected compiler is the one from Alire. I don't see how we can do differently here, or even if we should do anything differently.

[2021-08-23 11:58] mosteo commented on #802
I was thinking that we can disable detection for compilers that we ourselves have deployed, so at least they don't appear twice as native and external.

[2021-08-23 13:03] Fabien-Chouteau commented on #802
gprbuild will use what is first on PATH so if PATH is changed there's not much to do AFAICS.

[2021-08-23 13:07] Fabien-Chouteau commented on #792
So we need a special build of GCC for musl/Alpine. This can probably be done in GNAT-FSF-builds but I don't have time for this right now. Also we would first need Alpine distrib support in Alire first.

[2021-08-23 19:54] 1ma commented on #792
Alright. For what it's worth, for the last few months I've been [building](https://gitlab.com/1ma/dockertronics/-/jobs/1522741649) and [using](https://gitlab.com/1ma/radatracer/-/jobs/1525783291) Alire 1.0.0 and 1.0.1 on Alpine Linux without a hitch.

[2021-08-25 09:57] #802 closed, assigned to nobody

[2021-08-25 09:58] #795 closed, assigned to nobody

[2021-08-26 08:14] #794 closed, assigned to nobody

[2021-08-31 07:21] Patschkowski opened #814 "Adding trusted sites"
Dear all,

we are very close to fully adopting Alire for our projects. External dependencies are pulled from the Alire index.

What we still want to do is also split our internal dependencies into different repos. Currently, all our code lives in one repo.

Due to IP we can not host the repos externally on the trusted sites that are currently allowed by Alire. Is there a way we can add our in-hous

[2021-08-31 08:11] Fabien-Chouteau commented on #814
Hello @Patschkowski,

My understanding is that this trusted site check is only made in the `alr publish` command. You don't have to use this command to publish a crate in your local index. Just renaming the `alire.toml` into `<crate_name>-<crate_version>.toml` and adding
[code]
 should be enough.

What we can try to do in future versions is to read a list of trusted sites from the user configurati

[2021-08-31 15:33] mosteo commented on #626
Implemented in #673

[2021-08-31 15:33] #626 closed, assigned to nobody

[2021-08-31 15:44] mosteo commented on #625
I think most if not all that was discussed here was already merged in #787 and follow-ups. If there is some specific feature that isn't satisfied please open a new focused PR.

[2021-08-31 15:44] #625 closed, assigned to nobody

[2021-08-31 15:59] mosteo commented on #786
@pmunts, would you be so kind if time allows, to test #816 and see if it fixes your issue?

[2021-08-31 23:24] ohenley commented on #496
If I may, from the discussion it looks like `alr test` does not resonate universally on what it means to do.

If it means to do a crate 'sanity-check', as opposed to run a 'test' (suite or else) over the code content of the crate, maybe something along the lines of `alr check_sanity`, `alr check_crate`, etc would be more self explaining.

[2021-09-01 11:00] MarcusE1W opened #817 "[Request] Name bin release packages with architecture"
Hi.

Thanks for the great tool. This is really a good help, also/especially for beginner like me.

Is it possible to mark the binary release packages with the architecture they support ? Like AMD64 or X86_64 or so?
I am using an ARM device and there is always this moment where you think, maybe this will work. Especially with Appimage packages. It's just a small thing so super low prio.

Even bette

[2021-09-02 07:14] #786 closed, assigned to nobody

[2021-09-02 08:42] mosteo opened #820 "`alr get --build` must skip building binary crates"
See e.g. https://github.com/alire-project/alire-index/pull/330

[2021-09-02 11:31] mosteo commented on #817
Thanks for the suggestion, it makes sense to me too.

[2021-09-02 14:52] #817 closed, assigned to nobody

[2021-09-03 13:15] jquorning opened #823 "`alt test`console output corrupt"
The console output from `alr --no-tty --no-color test --full` is corrupt with rc2. rc1 output looks fine.

[2021-09-03 14:15] Fabien-Chouteau commented on #823
What does corrupt means?

[2021-09-03 18:08] jquorning commented on #823
[code]
Can you reproduce it?

[2021-09-04 14:53] pyjarrett opened #825 "Windows: "cannot guess build type""
I've gotten this a couple times, so I'm reporting it now.  I've gotten it a couple of times trying to build xmlada in particular inside Windows terminal.  My current workaround is to re-run the same `alr build` command from an msys64 window instead.

Once the build has succeeded initially I have no further problems.

[code]

[2021-09-06 07:24] Fabien-Chouteau commented on #823
I do see the difference. This is most likely related to sub-command refactoring.

[2021-09-06 07:48] mosteo opened #826 "Option to disable autodownload of community index"
To ensure it isn't used by mistake in e.g. our test suite.

[2021-09-06 09:37] #823 closed, assigned to nobody

[2021-09-07 08:58] Lucretia opened #828 "gitignore have multiple entries"
I just created a test project and the .gitignore file contains:

[code]

[2021-09-07 09:03] Lucretia opened #829 "alr init should create a git repository"
I was surprised to find that ```alr init``` doesn't do a ```git init``` and then ```git add``` the relevant files.

[2021-09-07 09:06] Fabien-Chouteau commented on #828
Hi @Lucretia,

Did you run `alr init` multiple times?

[2021-09-07 09:17] Lucretia commented on #828
Yes, but i deleted the directory each time.

[2021-09-07 09:21] Fabien-Chouteau commented on #829
Hi @Lucretia,

Alire is not tied to a specific version control system. Also you can create multiple crates in a single repo.

[2021-09-07 09:22] Fabien-Chouteau commented on #828
`alr init` is not that smart and just appends suff in `.gitignore`.

[2021-09-07 09:27] Fabien-Chouteau commented on #825
Looks like xmlada configure script doesn't work outside of cygwin/msys2.
I think I checked that at the time, maybe something broke.

[2021-09-07 10:41] mosteo opened #830 "CI Author author check doesn't support renames"
See https://github.com/alire-project/alire-index/pull/336#issuecomment-914120143

[2021-09-07 11:59] Lucretia commented on #828
I deleted the directory which was created, therefore deleting everything inside it.

[2021-09-07 21:00] jquorning opened #831 "`alr test` puts escape sequences in reports"
`alr --no-tty --no-color test --full` puts escape sequences in junit (xml) reports and individual crate test logs `<crate>/alire/alr_test_<time>.log`.

I guess there should be no escape sequences in the files no matter what.

[2021-09-08 07:39] mosteo commented on #831
Thanks for the report, Jesper. IIRC `alr test` is invoking child `alr` processes, it will be a matter of putting these flags always there.

[2021-09-09 10:50] mosteo opened #833 "Show configured toolchain in `alr version`"

[2021-09-09 12:21] Fabien-Chouteau commented on #828
See here: https://github.com/alire-project/alire/blob/master/src/alr/alr-commands-init.adb `Generate_Gitignore` is called only once.

[2021-09-11 21:13] bk322 opened #843 "Newby question: using alire to build Emacs's ada-mode"
Is it possible to use alire to build Emacs's ada-mode?
I've installed ada-mode via ELPA, and it says I need to build it.

So I went to
[code]
but it complains that I need to provide it `gnatcoll`, `gnatcoll_sqlite`, `gnatcoll_xref`.

I figured out I can fetch these with alire as:
[code]
but how do I tell ada-mode's `build.sh` about these?
I see that these are found under `myproj/alire/cache/depend

[2021-09-12 21:12] mgrojo commented on #831
Ideally, it should work like `ls --color=auto`, which disables colors when the output is not a terminal. I miss that in general, for example, when running `alr build` inside emacs or when redirecting to a file.

[2021-09-13 07:47] mosteo commented on #843
Once you have your dependencies, you can see the environment with `alr printenv`, and you can apply it with e.g. `source <(alr printenv)`.

[2021-09-13 07:51] mosteo commented on #843
I'm closing this one. @bk322 , if you don't succeed, I think the https://github.com/alire-project/alire/discussions feature is better for this kind of question which isn't exactly an issue (in principle).

[2021-09-13 07:51] #843 closed, assigned to nobody

[2021-09-14 09:12] Fabien-Chouteau commented on #831
It should already work that way...

[2021-09-14 15:38] mosteo opened #849 "Alire does not attempt to detect the host architecture"
We need a new property to complete the platform fingerprint.

We'll also need to tag the binary crates with the intended architecture.

[2021-09-14 18:14] mgrojo commented on #831
There are other kinds of changes, but not that:

![image](https://user-images.githubusercontent.com/13812910/133311333-b65d41f1-0c80-4ec9-91db-73459a98c40f.png)

Alire Library version: 1.1.0-rc2
alr status is (outside) (0 releases indexed) (loaded in 0.070s)
config folder is /home/mgr/.config/alire
source folder is /home/mgr/.config/alire/alire
interaction flags are: force:FALSE not-interactive:FA

[2021-09-15 07:57] mosteo commented on #831
I also thought this was automatically detected. We may have regressed on this.

[2021-09-15 16:21] onox opened #851 "Assistant runs after `setup-alire@latest-devel` action despite toolchain being already configured"
In a GitHub Actions yml file, after running ada-actions/toolchain@ce2021 and alire-project/setup-alire@latest-devel on the ubuntu-latest OS, I would expect that `alr build` by default uses the gnat_external toolchain if it detects its presence on the system. Instead `alr build` fails with the following error:

[code]

Of course a user can/may switch to another toolchain, but if the user has run `a

[2021-09-15 16:37] mosteo commented on #851
Thanks for the report, @onox. There are several issues here:

- By default, `setup-alire@latest-devel` will configure the native packaged toolchain
   - This can be overridden with the `toolchain` argument for the action
- No matter an external being detected, the assistant always defaults to the native packaged toolchain.
   - This was a decision we made, to always have the same default.
- The ac

[2021-09-15 21:29] jquorning commented on #831
[code]
Shows plain text with 1.1.0-rc1 compiled 2021-08-18 on my machine.

[2021-09-15 22:16] mgrojo commented on #831
Tested with these AppImages:
[code]

Everyone works as expected (no color when redirected) except for the latest two: `alr-1.1.0-rc2.AppImage` and `alr-1.1.0-rc3-x86_64.AppImage`

[2021-09-16 09:15] mosteo commented on #831
Thanks for the reports, people.

[2021-09-16 09:54] Fabien-Chouteau commented on #831
So obviously an issue with the CLIC refactoring. I am having a look.

[2021-09-16 10:11] Fabien-Chouteau commented on #831
I found the issue: https://github.com/alire-project/clic/pull/13

Now @mosteo   the question is: how do we use that fix in alr 1.1.0 now that all those breaking changes are merged in CLIC main?
Looks like we have to do a branch in CLIC.

[2021-09-16 10:27] mosteo commented on #831
Afraid so :S Let's hope not for long.

[2021-09-16 13:41] #607 closed, assigned to nobody

[2021-09-16 13:41] #833 closed, assigned to nobody

[2021-09-18 12:31] sanyaade-teachings commented on #726
Hi All,
This issue is still there!

Setup alire on Windows 7 64Bit along with Gnat studio. Everything working but when I tried out alire with command:
     alr get hello
I got the tar error message below:
![image](https://user-images.githubusercontent.com/4993211/133888429-a1513a84-5a2d-402d-926d-f55520052bc6.png)

Basically alire was looking for tar archive manager to decompress some of the downl

[2021-09-18 16:45] sanyaade-teachings commented on #726
Hi There,

I got this sorted out. It was due to a previously installed tar package for AVR on my system. I got rid of that one and now Alire run, download and install new tar packages and also completed installation of the hello project.  :+1:

![image](https://user-images.githubusercontent.com/4993211/133896270-07170f94-997c-435c-80a6-2ea75a15767c.png)

I am doing a handout on the use of Alire fo

[2021-09-19 11:15] sanyaade-teachings opened #859 "Name magling with Alire"
Hi
Test Drinving Alire tool:
Runing Alire commands in Windows: alr get hello
everything went well except that created folder name was appended with other values as shown below:
![image](https://user-images.githubusercontent.com/4993211/133925430-18cce64c-1448-409d-9e4c-39036b07ab28.png)

Is this a bug or Alire features?

Many thanks!

God blesses!!!

[2021-09-19 13:59] pyjarrett commented on #771
I've been working fine, but compiled first thing this morning and got it for some reason with the error appearing in `gpr.adb`, `gnatcoll-projects.adb` and `gpr-knowledge.adb`.  I haven't changed my environment in any way that I'm aware, I tried using 10.3.1 and it also fails.

[code]

[code]

[2021-09-20 07:11] mosteo commented on #726
Thanks for the reports, Sanyaade, I hope the experience with your students goes well.

[2021-09-20 07:13] mosteo commented on #859
Hi Sanyaade. This is just how Alire works, it uses a `<name>_<version>_<hash>` way of naming fetched releases. Does this pose some kind of problem?

[2021-09-20 10:06] Fabien-Chouteau commented on #771
It compiles on my side with `GNAT 11.2.1` from Alire.

[2021-09-20 17:32] pmunts opened #860 "Cannot build alire 1.1.0 on Debian 10 (Buster)"
Building alire release 1.1.0 from source on Debian 10 (Buster) fails with:
[code]
The `g-comlin.ads` in the Debian native toolchain (gcc 8.3.0) does not define `Value_Callback`.

This matters because the only way to get `alr` on a Raspberry Pi is to build from source.

[2021-09-20 22:46] sanyaade-teachings commented on #859
Hi @mosteo

Many thanks for getting back

I am teaching Ada and using Alire with younger age group 16-18yr old so if my handout says e.g. **cd hello** then **hello_1.0.1_dcc36a2f** will be  a problem. Even my Adult classes have raised this issues with me.

Is it possible to make it works better?

if not I will point the students here.

God blesses!!!

Best regards,
Sanyaade

[2021-09-21 08:00] mosteo commented on #859
Some ideas that come to mind, you can use `cd hello*` (as long as there is a single hello in the folder). Does Tab completion work on Windows?

For projects started from scratch, e.g., `alr init --bin hello`, the plain name you want will be used instead.

We could consider having an `alr get <crate> <destination>`, but I cannot give you a time frame for that. I'm about to start classes myself and

[2021-09-21 09:28] Fabien-Chouteau commented on #860
The problem is that not only it's a dependency for CLIC but also Alire 1.1 uses this feature to for the build and clean commands.

[2021-09-21 10:40] reznikmm opened #863 "Shell `alr` add gnat_native/gprbuild to PATH?"
I tried to build XmlAda with gnat_native/gprbuild, but fails
[code]
Errors are:
[code]

[2021-09-21 11:40] mosteo commented on #863
Hi @reznikmm , could you show the output of `alr toolchain` after the first command? Also, `alr printenv` inside the `xmlada` folder?

Also using `--install` instead of `--select` is not setting these tools as the default ones, is that what you want?

[2021-09-21 11:40] mosteo commented on #863
And it would be useful to see the output of `alr with --solve` inside the xmlada folder.

[2021-09-21 11:46] reznikmm commented on #863
[code]

[2021-09-21 11:47] reznikmm commented on #863
[code]

[2021-09-21 11:48] reznikmm commented on #863
[code]

[2021-09-21 11:51] mosteo commented on #863
Thanks, Maxim. I think it boils down to the external gprbuild being selected, as it has higher version. Switching `--install` to `--select` should take care of that.

Still, as the external is not really installed, it should not be used, and that may be a bug. I'll look into that.

[2021-09-21 11:55] reznikmm commented on #863
@mosteo, I copied this command from `alire-project/setup-alire@v1` output.
Perhaps, the action should also use `--select` instead of `--install`?

[2021-09-21 12:00] mosteo commented on #863
It should only use `--install` if you're passing a non-default destination for the toolchains. Can you give me a link to the workflow so I can take a look?

[2021-09-21 12:07] reznikmm commented on #863
Part of it:
[code]

So, if I use `toolchain_dir` then I should put `gprbuild` into PATH by my-self, right?

[2021-09-21 12:08] mosteo commented on #863
Yep, that's it.

[2021-09-21 12:08] mosteo commented on #863
Also, the `--disable-assistant` should no longer be needed, if you want to try that.

[2021-09-21 12:11] reznikmm opened #864 "Side effect of gprbuild checkout"
Hello!
I have this GitHub Action workflow:
[code]

The `alire-project/setup-alire@v1` step fails on windows (works on macos/linux). Error is:

[code]

If I drop gprbuild checkout step, then it works fine.

[2021-09-21 12:13] #863 closed, assigned to nobody

[2021-09-21 12:13] reznikmm commented on #863
Thank you, @mosteo !

[2021-09-22 05:56] timlag1305 opened #865 "Constraint error when running alr update using Alire 1.1.0"
I recently tried running `alr update` using alire version 1.1.0 on Linux. I see the following constraint error before it provides a selection prompt for gprbuild. If I select gnat_native instead of gnat_external, this error doesn't occur. I didn't compile with debug information so I the stack trace isn't very useful. I can try recompiling with that information. In case that debug info isn't needed

[2021-09-22 08:46] reznikmm commented on #864
Another error, if repository has directory `gnat/` then the action fails (on Windows only) with:
[code]

[2021-09-22 09:01] mosteo commented on #865
Thanks for the report, Tim. Don't worry about the stack trace because I've seen this before (I thought it was fixed). As a workaround in your case, if you're going to use the external toolchain, you can simply choose None or disable the assistant entirely with `alr toolchain --disable-assistant`.

[2021-09-22 09:03] mosteo commented on #864
So it seems on Windows a folder with the name of the executable interferes with the PATH. Curious. Thanks for the digging.

[2021-09-22 10:51] mosteo commented on #865
I've been able to reproduce it. My guess is that you have `gnat` installed from your distro packages but not `gprbuild`. Installing it should also allow you to run the assistant.

[2021-09-22 10:53] Fabien-Chouteau commented on #860
@pmunts we may have a (hacky) solution.
Can you tell me if you can build this version of CLIC with GNAT 8.3: https://github.com/alire-project/clic/pull/15 ?

[2021-09-22 15:47] onox commented on #860
This is a duplicate of alire-project/clic#8.

[2021-09-22 16:38] mosteo commented on #865
Manually cherry-picked into `master` after merging into `1.1`, so closing.

[2021-09-22 16:38] #865 closed, assigned to mosteo

[2021-09-23 19:56] jquorning opened #868 "Saturate elapsed build time"
I have been playing with `alr test --full` lately. Several times a Constraint_Error occurred when the computer sleeps during building. The problem occurs in `air-testing-markdown.adb:75` and probably in `alr-testing-console.adb` otherwise. Both places the elapsed build times are converted to a fix point type (called CS) for formatting. The range of CS is ok, but the conversion should be saturated/

[2021-09-24 07:13] mosteo commented on #868
The CS trick was out of deadline pressures, so better get rid of it. I think you can now use `Stopwatch.Image` that uses proper Duration IO. Although you could take a peek at the implementation to see if this saturation/clamping might be also a problem there. Thanks!

[2021-09-24 09:40] jquorning opened #869 "Missing executables in zipada=56.0.2"
@mosteo
`alr test zipada=56.0.2` complains:

`ERROR: Declared executable not found after compilation: bunzip`

16 executables are declared. 6 executables are build.

[2021-09-24 21:19] sanyaade-teachings commented on #859
The cd hello* works on Windows, tried it on my Windows-7 64bit.

==> For project startign from scratch e.g. we have got a problems here as this process is asking for GitHub details:
![image](https://user-images.githubusercontent.com/4993211/134739872-d91f590a-ad4b-43a1-a056-7adb90ea68b8.png)
![image](https://user-images.githubusercontent.com/4993211/134740212-a8067970-8aed-4011-9e26-7f51a6fcdce0.p

[2021-09-27 05:57] mosteo commented on #869
Thanks, Jesper.

Related: #624

[2021-09-28 17:21] Lucretia opened #873 "alr doesn't find gprbuild"
[code]

[2021-09-29 07:00] mosteo commented on #873
Thanks for the report, will investigate. Meanwhile, selecting `None` twice should work if your plan is to use the external compiler.

[2021-09-29 08:21] Lucretia commented on #873
That doesn't work either.

[code]

[2021-09-29 08:52] mosteo commented on #873
Then `alr toolchain --disable-assistant`

[2021-09-29 09:02] Lucretia commented on #873
Yay, finally, thanks.

[2021-09-29 11:27] #868 closed, assigned to nobody

[2021-09-30 15:27] onox opened #874 "Meaning of the `licenses` field in alire.toml files"
I see some crates like the gnat_* crates have a `licenses` field like this:

`licenses = "GPL-3.0-or-later AND GPL-3.0-or-later WITH GCC-exception-3.1"`

Sorry for yet another question about licenses :roll_eyes:, but what does the `licenses` field exactly indicate? Does it indicate the license of code that ends up in a lib/bin (like in this case the RTS) or does it include tools (like in this case